.container-recuperacao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/imagens/bgLogin-LM.png");
  background-size: cover;
  background-position: center;
}

.container-recuperacao::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 41, 115, 0.5);
  pointer-events: none;
}
