<div  *ngIf="permissaoUsuario === 'Administrador' || permissaoUsuario === 'Coordenador'">
<div class="main-container">
    <div class="header-container">
        <div class="back-title">
            <img src="assets/icones/back-left.svg" alt="Back" class="back-icon" (click)="goBack()">
            <h2>Histórico de Movimentação</h2>
        </div>
    </div>

    <div class="table-container">
        <div class="filtro-container">
            <div class="select-container">
                <app-select-padrao
                  label="Empresa"
                  [options]="empresas"
                  [(selectedValue)]="selectedEmpresa"
                  (selectedValueChange)="onEmpresaChange()"
                  [showDefaultOption]="true"
                  [defaultLabel]="'Todas as empresas'"
                  [defaultValue]="''">
                </app-select-padrao>
            </div>

            <div class="search-container">
                <!-- <app-search (searchChange)="onSearch($event)"></app-search> -->
            </div>
        </div>

        <div *ngIf="successMessage" class="alert alert-success">
            <span>{{ successMessage }}</span>
            <button class="close-btn" (click)="clearMessage()" aria-label="Fechar">&times;</button>
            <div class="progress-bar-sucess" [style.animation]="successMessage ? 'progressBarAnim 3s linear' : 'none'"></div>
        </div>

        <div class="progress-bar-container" *ngIf="isLoading">
            <div class="progress-bar"></div>
        </div>

        <div [ngClass]="{'tabela-container': true, 'no-data': execucoesPaginadas.length === 0}">
            <table>
                <thead>
                    <tr>
                        <th>Empresa</th>
                        <th>Data da análise</th>
                        <th>Colaborador</th>
                        <th>Quantidade de arquivos</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody *ngIf="execucoesPaginadas.length > 0">
                    <tr *ngFor="let execucao of execucoesPaginadas">
                        <td>
                            <span>{{ execucao.empresa?.razaoSocial || execucao.empresa?.nome || 'N/A' }}</span>
                        </td>
                        <td>{{ execucao.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
                        <td>
                            <div class="perfil">
                                <div class="avatar" [ngStyle]="{'background-color': getRandomColor(execucao.usuario?.nome || 'A')}">
                                    <img [src]="execucao.usuario?.foto?.fotoUrl" alt="Foto do Colaborador" *ngIf="execucao.usuario?.foto?.fotoUrl; else defaultAvatar" />
                                    <ng-template #defaultAvatar>
                                        <span>{{ getInitial(execucao.usuario?.nome || '-') }}</span>
                                    </ng-template>
                                </div>
                                <span>
                                    {{ execucao.usuario?.nome || '-' }}
                                </span>
                            </div>
                        </td>
                        <td>{{ execucao.totalArquivos }}</td>
                        <td>
                            <div class="container-acoes">
                                <button class="btn-acao visualizar" (click)="visualizarAnalise(execucao.id)">
                                    <img src="assets/icones/eye-open-white.svg" alt="visualizar">
                                    Visualizar
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="execucoesPaginadas.length === 0" class="feedback-container">
            <ng-container *ngIf="mensagemBusca; else semUsuarios">
                <div>
                <div class="search alert-warning text-center">
                    {{ mensagemBusca }}
                </div>
                </div>
            </ng-container>
            <ng-template #semUsuarios>
                <div class="no-data-message">
                <img src="assets/imagens/no-data.svg" alt="Sem dados">
                <p>Não há análises disponíveis.</p>
                </div>
            </ng-template>
        </div>

        <div class="paginacao">
            <app-pagination
            [paginaAtual]="paginaAtual"
            [totalItens]="totalItens"
            [itensPorPagina]="itensPorPagina"
            (paginaMudou)="onPaginaMudou($event)">
            </app-pagination>
        </div>  
    </div>
</div>
</div>
