<div class="main-container">
    <div class="breadcrumb-container">
        <div class="back-title">
            <img src="assets/icones/back-left-blue.svg" alt="Back" class="back-icon" (click)="goBack()">
            <span>Detalhes da empresa</span>
        </div>
    </div>
    <div class="actions">
        <h1>{{ empresa.razaoSocial }}</h1>
        <p>{{ empresa.cnpj }}</p>
    </div>
</div>
<div class="subMain-container">
    <div class="divisao">
        <p>Geral</p>
        <hr class="line">
    </div>
    <div class="data-itens">
        <div class="data-grid">
            <div class="item-data">
                <label>Código do Questor</label>
                <p>{{ empresa.codQuestor || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Código do Dominio</label>
                <p>{{ empresa.codEmpDominio || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Regime da Empresa</label>
                <p>{{ getRegimeDescricao(empresa.regimeEmpresa) || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Controle do Parcelamento</label>
                <p>{{ getControleParcelamentoDescricaoArray(empresa.controleParcelamento) || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Situação da Empresa</label>
                <p>{{ getSituacaoDescricao(empresa.situacao) || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Tipo da Empresa</label>
                <p>{{ getTipoEmpresaDescricao(empresa.tipo) || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Estado</label>
                <p>{{ empresa.estado || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Cidade</label>
                <p>{{ empresa.cidade || '-' }}</p>
            </div>
        </div>
    </div>
</div>

<div class="subMain-container">
    <div class="divisao">
        <p>Colaboradores</p>
        <hr class="line">
    </div>

    <div class="container-scroll" *ngIf="colaboradores.length > 0; else noColaboradores">
        <div class="data-grid-quad" *ngFor="let colaborador of colaboradoresPaginados">
            <div class="item-data-sub">
                <div class="perfil">
                    <div class="avatar" [ngStyle]="{'background-color': getRandomColor(colaborador.nome)}">
                        <img [src]="colaborador.fotoUrl" alt="Foto do colaborador" *ngIf="colaborador.fotoUrl; else defaultAvatar" />
                        <ng-template #defaultAvatar>
                            <span>{{ getInitial(colaborador.nome) }}</span>
                        </ng-template>
                    </div>
                    <span>{{ colaborador.username || '-' }}</span>
                </div>
            </div>
            <div class="item-data-sub">
                <app-setor-tag [setor]="colaborador.setor"></app-setor-tag>
            </div>
            <div class="item-data-sub">
                <p>{{ colaborador.email || '-' }}</p>
            </div>
        </div>
    </div>

     <ng-template #noColaboradores>
        <div class="no-colaboradores">
            <p>Nenhum colaborador atribuído a esta empresa.</p>
        </div>
    </ng-template>

    <div class="paginacao">
        <app-pagination
            [paginaAtual]="paginaAtual"
            [totalItens]="totalItens"
            [itensPorPagina]="itensPorPagina"
            (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div>  
</div>