<div class="main-container">
    <div class="breadcrumb-container">
        <div class="back-title">
            <img src="assets/icones/back-left-blue.svg" alt="Back" class="back-icon" (click)="goBack()">
            <span>Detalhes da empresa</span>
        </div>
    </div>
    <div class="actions">
        <h1>{{ empresa.razaoSocial }}</h1>
        <p>{{ empresa.cnpj }}</p>
        <p>{{ empresa.cpf }}</p>
    </div>
</div>
<div class="subMain-container">
    <div class="divisao">
        <p>Geral</p>
        <hr class="line">
    </div>
    <div class="data-itens">
        <div class="data-grid">
            <div class="item-data">
                <label>Código do Questor</label>
                <p>{{ empresa.codQuestor || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Código do Dominio</label>
                <p>{{ empresa.codEmpDominio || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Regime da Empresa</label>
                <p>{{ getRegimeDescricao(empresa.regimeEmpresa) || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Controle do Parcelamento</label>
                <p>{{ getControleParcelamentoDescricaoArray(empresa.controleParcelamento) || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Situação da Empresa</label>
                <p>{{ getSituacaoDescricao(empresa.situacao) || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Natureza jurídica</label>
                <p>{{ getNaturezaJuridicaDescricao(empresa.naturezaJuridica) || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Porte da Empresa</label>
                <p>{{ getPorteEmpresaDescricao(empresa.porteEmpresa) || '-' }}</p>
            </div>
        </div>

        <div class="divisao">
            <p>Endereço</p>
            <hr class="line">
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Estado</label>
                <p>{{ empresa.endereco.estado || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Cidade</label>
                <p>{{ empresa.endereco.cidade || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>CEP</label>
                <p>{{ empresa.endereco.cep || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Bairro</label>
                <p>{{ empresa.endereco.bairro || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Rua</label>
                <p>{{ empresa.endereco.rua || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Número</label>
                <p>{{ empresa.endereco.numero || '-' }}</p>
            </div>
        </div>
        <div class="data-grid">
            <div class="item-data">
                <label>Complemento</label>
                <p>{{ empresa.endereco.complemento || '-' }}</p>
            </div>
            <div class="item-data">
                <label>Logradouro</label>
                <p>{{ empresa.endereco.logradouro || '-' }}</p>
            </div>
        </div>
    </div>

    <div class="divisao">
        <p>Documentos</p>
        <hr class="line">
    </div>
    <div *ngIf="empresa && empresa.documentos && empresa.documentos.length > 0; else noMaterialTemplate">
        <div class="list-group">
            <div class="list-group-item" *ngFor="let documento of empresa.documentos">
                <span>{{ formatFileName(documento.fileName) }}</span>
                <div>
                    <button class="btn-vizualizar" (click)="viewPdf(documento.url)">Visualizar</button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noMaterialTemplate>
        <span>Nenhum arquivo adicionado</span>
    </ng-template>

    <div class="divisao">
        <p>Sócios</p>
        <hr class="line">
    </div>

    <div class="socios" *ngIf="empresa.socios?.length; else noSocios">
        <div class="socio-card" *ngFor="let socio of empresa.socios">
            <div class="socio-info">
                <div class="data-grid">
                    <div class="item-data">
                        <label>Nome</label>
                        <p>{{ socio.nomeCompleto || '-' }}</p>
                    </div>
                    <div class="item-data">
                        <label>CPF</label>
                        <p>{{ socio.cpf || '-' }}</p>
                    </div>
                </div>

                <div class="item-data">
                    <label>E-mail</label>
                    <p>{{ socio.email || '-' }}</p>
                </div>

                <div class="data-grid">
                    <div class="item-data">
                        <label>Inscrição Estadual </label>
                        <p>{{ socio.inscricaoEstadual || '-' }}</p>
                    </div>
                    <div class="item-data">
                        <label>Estado Civil</label>
                        <p>{{ socio.estadoCivil || '-' }}</p>
                    </div>
                </div>

                <div class="data-grid">
                    <div class="item-data">
                        <label>Telefone</label>
                        <p>{{ socio.telefone || '-' }}</p>
                    </div>
                    <div class="item-data">
                        <label>WhatsApp</label>
                        <p>{{ socio.whatsapp || '-' }}</p>
                    </div>
                </div>

                <div class="data-grid">
                    <div class="item-data">
                        <label>Estado</label>
                        <p>{{ socio.endereco?.estado || '-' }}</p>
                    </div>
                    <div class="item-data">
                        <label>Cidade</label>
                        <p>{{ socio.endereco?.cidade || '-' }}</p>
                    </div>
                </div>
                <div class="data-grid">
                    <div class="item-data">
                        <label>CEP</label>
                        <p>{{ socio.endereco?.cep || '-' }}</p>
                    </div>
                    <div class="item-data">
                        <label>Bairro</label>
                        <p>{{ socio.endereco?.bairro || '-' }}</p>
                    </div>
                </div>
                <div class="data-grid">
                    <div class="item-data">
                        <label>Rua</label>
                        <p>{{ socio.endereco?.rua || '-' }}</p>
                    </div>
                    <div class="item-data">
                        <label>Número</label>
                        <p>{{ socio.endereco?.numero || '-' }}</p>
                    </div>
                </div>
                <div class="data-grid">
                    <div class="item-data">
                        <label>Complemento</label>
                        <p>{{ socio.endereco?.complemento || '-' }}</p>
                    </div>
                    <div class="item-data">
                        <label>Logradouro</label>
                        <p>{{ socio.endereco?.logradouro || '-' }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noSocios>
        <span>Nenhum sócio cadastrado.</span>
    </ng-template>
</div>

<div class="subMain-container">
    <div class="divisao">
        <p>Colaboradores</p>
        <hr class="line">
    </div>

    <div class="container-scroll" *ngIf="colaboradores.length > 0; else noColaboradores">
        <div class="data-grid-quad" *ngFor="let colaborador of colaboradoresPaginados">
            <div class="item-data-sub">
                <div class="perfil">
                    <div class="avatar" [ngStyle]="{'background-color': getRandomColor(colaborador.nome)}">
                        <img [src]="colaborador.fotoUrl" alt="Foto do colaborador" *ngIf="colaborador.fotoUrl; else defaultAvatar" />
                        <ng-template #defaultAvatar>
                            <span>{{ getInitial(colaborador.nome) }}</span>
                        </ng-template>
                    </div>
                    <span>{{ colaborador.username || '-' }}</span>
                </div>
            </div>
            <div class="item-data-sub">
                <app-setor-tag [setor]="colaborador.setor"></app-setor-tag>
            </div>
            <div class="item-data-sub">
                <p>{{ colaborador.email || '-' }}</p>
            </div>
        </div>
    </div>

     <ng-template #noColaboradores>
        <div class="no-colaboradores">
            <p>Nenhum colaborador atribuído a esta empresa.</p>
        </div>
    </ng-template>

    <div class="paginacao">
        <app-pagination
            [paginaAtual]="paginaAtual"
            [totalItens]="totalItens"
            [itensPorPagina]="itensPorPagina"
            (paginaMudou)="onPaginaMudou($event)">
        </app-pagination>
    </div>  
</div>