<div class="main-container">
  <div class="container-aviso">
      <img src="assets/imagens/em-breve.png" alt="Em breve" class="emBreve">
  </div>
  <!-- <div class="header-container">
    <h2>Notificações</h2>
  </div>

  <div class="table-container">
    <div class="filtro-container">
      <app-select-padrao label="Todos os setores"> </app-select-padrao>

      <div class="search-container">
        <app-search (searchChange)="onSearch($event)"></app-search>
      </div>
    </div>

    <div class="notificacao-container">
        <div class="notificacao-item" *ngFor="let notificacao of notificacoesPaginadas" (click)="marcarComoLida(notificacao)" [class.lida]="notificacao.lida">
          <div class="notificacao-mensagem">
            <div class="avatar"></div>
            <span>{{ notificacao.usuario }}</span>
            <p>{{ notificacao.descricao }}</p>
          </div>
          <div class="notificacao-new" *ngIf="!notificacao.lida"></div>
        </div>
      </div>
    
      <div class="paginacao">
        <button (click)="paginaAnterior()" [disabled]="paginaAtual === 1">
            <img src="assets/icones/carret-left.svg" alt="Esquerda">
        </button>
            <span *ngFor="let pagina of [].constructor(totalPaginas); let i = index">
    
            <button (click)="mudarPagina(i + 1)" [class.ativo]="paginaAtual === i + 1">
                {{ i + 1 }}
            </button>
        </span>
        <button (click)="proximaPagina()" [disabled]="paginaAtual === totalPaginas">
            <img src="assets/icones/carret-right.svg" alt="Direita">
        </button>
    </div>
  </div> -->
</div>
