<div class="main-container">
  <div class="header-container">
    <h2>Notificações</h2>
  </div>

  <div class="table-container">
    <div class="filtro-container">
      <div class="select-container">
        <app-select-padrao
            label="Setor"
            [options]="setores"
            [(selectedValue)]="selectedSetor"
            (selectedValueChange)="onSetorChange()"
            [showDefaultOption]="true"
            [defaultLabel]="'Todos os setores'"
            [defaultValue]="''">
        </app-select-padrao>
      </div>

      <div class="search-container">
        <app-search (searchChange)="onSearch($event)"></app-search>
      </div>
    </div>

    <div class="notificacao-container">
        <div class="notificacao-item" *ngFor="let notificacao of notificacoesPaginadas" (click)="marcarComoLida(notificacao)" [class.lida]="notificacao.lida">
          <div class="notificacao-mensagem">
            <div class="avatar"></div>
            <span>{{ notificacao.usuario }}</span>
            <p>{{ notificacao.descricao }}</p>
          </div>
          <div class="notificacao-new" *ngIf="!notificacao.lida"></div>
        </div>
      </div>
    
      <div class="paginacao">
            <app-pagination
            [paginaAtual]="paginaAtual"
            [totalItens]="totalItens"
            [itensPorPagina]="itensPorPagina"
            (paginaMudou)="onPaginaMudou($event)">
            </app-pagination>
      </div>  
  </div>
</div>
