<div  *ngIf="permissaoUsuario === 'Administrador' || permissaoUsuario === 'Coordenador'">
    <div class="main-container">
        <div class="back-title">
            <img src="assets/icones/back-left.svg" alt="Back" class="back-icon" (click)="goBack()">
            <span>{{ isEditMode ? 'Editar empresa' : 'Cadastrar empresa' }}</span>
        </div>
    
        <div class="forms-container">
            <form (ngSubmit)="onSubmit()" [formGroup]="empresaForm">
                <div class="form-group">
                    <label for="razaoSocial">Razão social<span *ngIf="isRequired('razaoSocial')" class="required-asterisk">*</span></label>
                    <input type="text" id="razaoSocial" name="razaoSocial" formControlName="razaoSocial" class="form-control" placeholder="Digite a razão social da empresa" required maxlength="250">
                    <div *ngIf="empresaForm.get('razaoSocial')?.invalid && (empresaForm.get('razaoSocial')?.touched || empresaForm.get('razaoSocial')?.dirty)" class="error-obrigatorio">
                        O campo Razão Social é obrigatório.
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label for="tipoIdentificacao">Tipo da identificação<span *ngIf="isRequired('tipoIdentificacao')" class="required-asterisk">*</span></label>
                        <app-select-padrao
                        label="Selecionar tipo da identificação"
                        [options]="tipoIdentificacao"
                        [(selectedValue)]="selectedTipoIdentificacao"
                        formControlName="tipoIdentificacao">
                        </app-select-padrao>
                        <div *ngIf="empresaForm.get('tipoIdentificacao')?.invalid && (empresaForm.get('tipoIdentificacao')?.touched || empresaForm.get('tipoIdentificacao')?.dirty)" class="error-obrigatorio">
                            O campo Tipo da identificação é obrigatório.
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- CNPJ: exibido quando tipo !== 'CPF' -->
                        <div *ngIf="selectedTipoIdentificacao !== 'CPF'" class="identificacaoInput" class="form-group">
                            <label for="cnpj">CNPJ<span *ngIf="isRequired('cnpj')" class="required-asterisk">*</span></label>
                            <input type="text" id="cnpj" name="cnpj" formControlName="cnpj" class="form-control" placeholder="00.000.000/0000-00" mask="00.000.000/0000-00" [dropSpecialCharacters]="false">
                            <div *ngIf="empresaForm.get('cnpj')?.invalid && (empresaForm.get('cnpj')?.touched || empresaForm.get('cnpj')?.dirty)" class="error-obrigatorio">
                                O campo CNPJ é obrigatório.
                            </div>
                        </div>

                        <!-- CPF: exibido quando tipo === 'CPF' -->
                        <div *ngIf="selectedTipoIdentificacao === 'CPF'" class="form-group">
                            <label for="cpf">CPF<span *ngIf="isRequired('cpf')" class="required-asterisk">*</span></label>
                            <input type="text" id="cpf" name="cpf" formControlName="cpf" class="form-control" placeholder="000.000.000-00" mask="000.000.000-00" [dropSpecialCharacters]="false">
                            <div *ngIf="empresaForm.get('cpf')?.invalid && (empresaForm.get('cpf')?.touched || empresaForm.get('cpf')?.dirty)" class="error-obrigatorio">
                                O campo CPF é obrigatório.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label>Unidade da empresa</label>
                        <div class="radio-group">
                            <div class="radio-item">
                                <input type="radio" id="matriz" name="unidadeEmpresa" value="MATRIZ" formControlName="unidadeEmpresa" checked>
                                <label for="matriz">Matriz</label>
                            </div>
                            <div class="radio-item">
                                <input type="radio" id="filial" name="unidadeEmpresa" value="FILIAL" formControlName="unidadeEmpresa">
                                <label for="filial">Filial</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="identificadorEmpresaMatriz">Empresa matriz</label>
                        <app-select-padrao
                            label="Selecionar empresa matriz"
                            [options]="empresasMatriz"
                            [(selectedValue)]="selectedMatriz"
                            formControlName="identificadorEmpresaMatriz"
                            [disabled]="matrizSelecionada"
                            [showDefaultOption]="true"
                            [defaultLabel]="'Nenhuma'"
                            [defaultValue]="''">
                        </app-select-padrao>
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label for="codEmpresa">Código da empresa no Questor<span *ngIf="isRequired('codQuestor')" class="required-asterisk">*</span></label>
                        <input type="text" id="codEmpresa" name="codEmpresa" formControlName="codQuestor" class="form-control" placeholder="Digite o código do questor" required maxlength="250">
                        <div *ngIf="empresaForm.get('codQuestor')?.invalid && (empresaForm.get('codQuestor')?.touched || empresaForm.get('codQuestor')?.dirty)" class="error-obrigatorio">
                            O campo Código da empresa no Questor é obrigatório.
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="codEmpDominio">Código da empresa no Domínio<span *ngIf="isRequired('codEmpDominio')" class="required-asterisk">*</span></label>
                        <input type="text" id="codEmpDominio" name="codEmpDominio" formControlName="codEmpDominio" class="form-control" placeholder="Digite o código do domínio" required maxlength="250">
                        <div *ngIf="empresaForm.get('codEmpDominio')?.invalid && (empresaForm.get('codEmpDominio')?.touched || empresaForm.get('codEmpDominio')?.dirty)" class="error-obrigatorio">
                            O campo Código da empresa no Domínio é obrigatório.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="regimeEmpresa">Regime da empresa<span *ngIf="isRequired('regimeEmpresa')" class="required-asterisk">*</span></label>
                    <app-select-padrao
                    label="Selecionar regime da empresa"
                    [options]="regimes"
                    [(selectedValue)]="selectedRegime"
                    formControlName="regimeEmpresa">
                    </app-select-padrao>
                    <div *ngIf="empresaForm.get('regimeEmpresa')?.invalid && (empresaForm.get('regimeEmpresa')?.touched || empresaForm.get('regimeEmpresa')?.dirty)" class="error-obrigatorio">
                        O campo Regime da empresa é obrigatório.
                    </div>
                </div>

                <div class="form-group">
                    <label for="controleParcelamento">Controle de Parcelamento<span *ngIf="isRequired('controleParcelamento')" class="required-asterisk">*</span></label>
                    <app-multiplo-select
                    label="Selecionar controle de parcelamento"
                    [options]="controleParcelamento"
                    [(selectedValue)]="selectedControleParcelamento"
                    [multiple]="true" 
                    formControlName="controleParcelamento">
                    </app-multiplo-select>
                    <div *ngIf="empresaForm.get('controleParcelamento')?.invalid && (empresaForm.get('controleParcelamento')?.touched || empresaForm.get('controleParcelamento')?.dirty)" class="error-obrigatorio">
                        O campo Controle de Parcelamento é obrigatório.
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label for="tipo">Tipo da empresa<span *ngIf="isRequired('tipo')" class="required-asterisk">*</span></label>
                        <app-select-padrao
                        label="Selecionar tipo da empresa"
                        [options]="tipoEmpresa"
                        [(selectedValue)]="selectedTipoEmpresa"
                        formControlName="tipo">
                        </app-select-padrao>
                        <div *ngIf="empresaForm.get('tipo')?.invalid && (empresaForm.get('tipo')?.touched || empresaForm.get('tipo')?.dirty)" class="error-obrigatorio">
                            O campo Tipo da empresa é obrigatório.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="situacao">Situação da empresa<span *ngIf="isRequired('situacao')" class="required-asterisk">*</span></label>
                        <app-select-padrao
                        label="Selecionar situação da empresa"
                        [options]="situacao"
                        [(selectedValue)]="selectedSituacao"
                        formControlName="situacao">
                        </app-select-padrao>
                        <div *ngIf="empresaForm.get('situacao')?.invalid && (empresaForm.get('situacao')?.touched || empresaForm.get('situacao')?.dirty)" class="error-obrigatorio">
                            O campo Situação da empresa é obrigatório.
                        </div>
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label for="naturezaJuridica">Natureza juridica<span *ngIf="isRequired('naturezaJuridica')" class="required-asterisk">*</span></label>
                        <app-select-padrao
                        label="Selecionar natureza juridica"
                        [options]="naturezaJuridica"
                        [(selectedValue)]="selectedNaturezaJuridica"
                        formControlName="naturezaJuridica">
                        </app-select-padrao>
                    </div>
                    <div class="form-group">
                        <label for="porteEmpresa">Porte da empresa<span *ngIf="isRequired('porteEmpresa')" class="required-asterisk">*</span></label>
                        <app-select-padrao
                        label="Selecionar porte da empresa"
                        [options]="porteEmpresa"
                        [(selectedValue)]="selectedPorteEmpresa"
                        formControlName="porteEmpresa">
                        </app-select-padrao>
                    </div>
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <div class="radio-group">
                        <div class="radio-item">
                            <input type="radio" id="ativo" name="status" value="ATIVO" formControlName="status" checked>
                            <label for="ativo">Ativo</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="inativo" name="status" value="INATIVO" formControlName="status">
                            <label for="inativo">Inativo</label>
                        </div>
                    </div>
                </div>

                <div class="divisao">
                    <p>Endereço</p>
                    <hr class="line">
                </div>

                <div formGroupName="endereco" class="form-div">
                    <div class="input-duo">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <app-select-padrao
                            label="Selecione o estado"
                            [options]="estados"
                            [(selectedValue)]="selectedEstado"
                            (selectedValueChange)="onEstadoChange($event)"
                            formControlName="estado"
                            [showDefaultOption]="false"
                            [defaultLabel]="''"
                            [defaultValue]="''">
                            </app-select-padrao>
                        </div>
                        <div class="form-group">
                            <label for="cidade">Cidade</label>
                            <app-select-padrao
                            label="Selecione a cidade"
                            [options]="cidades"
                            [(selectedValue)]="selectedCidade"
                            (selectedValueChange)="onCidadeChange($event)"
                            formControlName="cidade"
                            [disabled]="empresaForm.get('cidade')?.disabled === true">
                            </app-select-padrao>
                        </div>
                    </div>

                    <div class="input-duo">
                        <div class="form-group">
                            <label for="cep">CEP</label>
                            <input type="text" id="cep" name="cep" formControlName="cep" class="form-control" placeholder="00000-000" mask="00000-000" [dropSpecialCharacters]="false" required>
                        </div>
                        <div class="form-group">
                            <label for="bairro">Bairro</label>
                            <input type="text" id="bairro" name="bairro" formControlName="bairro" class="form-control" placeholder="Digite o bairro" required maxlength="250">
                        </div>
                    </div>
    
                    <div class="input-duo">
                        <div class="form-group">
                            <label for="rua">Rua</label>
                            <input type="text" id="rua" name="rua" formControlName="rua" class="form-control" placeholder="Digite a rua" required maxlength="250">
                        </div>
                        <div class="form-group">
                            <label for="numero">Número</label>
                            <input type="text" id="numero" name="numero" formControlName="numero" class="form-control" placeholder="Digite o número" required maxlength="250">
                        </div>
                    </div>

                    <div class="input-duo">
                        <div class="form-group">
                            <label for="complemento">Complemento</label>
                            <input type="text" id="complemento" name="complemento" formControlName="complemento" class="form-control" placeholder="Digite um complemento" maxlength="250">
                        </div>
                        <div class="form-group">
                            <label for="logradouro">Logradouro</label>
                            <input type="text" id="logradouro" name="logradouro" formControlName="logradouro" class="form-control" placeholder="Digite o logradouro" maxlength="250">
                        </div>
                    </div>
                </div>

                <div class="divisao">
                    <p>Funcionários responsáveis</p>
                    <hr class="line">
                </div>

                <div class="form-group">
                    <label for="contabil">Setor Contábil</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosContabil"
                    [(selectedValue)]="selectedContabil" 
                    [multiple]="true"               
                    formControlName="identificadorContabil">
                    </app-multiplo-select>
                </div>

                <div class="form-group">
                    <label for="fiscal">Setor Fiscal</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosFiscal"
                    [(selectedValue)]="selectedFiscal"
                    [multiple]="true" 
                    formControlName="identificadorFiscal">
                    </app-multiplo-select>
                </div>

                <div class="form-group">
                    <label for="pessoal">Setor Pessoal</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosPessoal"
                    [(selectedValue)]="selectedPessoal"
                    [multiple]="true" 
                    formControlName="identificadorPessoal">
                    </app-multiplo-select>
                </div>

                <div class="form-group">
                    <label for="paralegal">Setor Paralegal</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosParalegal"
                    [(selectedValue)]="selectedParalegal"
                    [multiple]="true" 
                    formControlName="identificadorParalegal">
                    </app-multiplo-select>
                </div>

                <div class="form-group">
                    <label for="financeiro">Setor Financeiro</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosFinanceiro"
                    [(selectedValue)]="selectedFinanceiro"
                    [multiple]="true" 
                    formControlName="identificadorFinanceiro">
                    </app-multiplo-select>
                </div>

                <div class="alerts">
                    <div class="alert-two alert-success" *ngIf="successMessage">
                    {{ successMessage }}
                    </div>
                    <div class="alert-two alert-danger" *ngIf="errorMessage">
                        {{ errorMessage }}
                    </div>
                </div>

                <div class="container-btn">
                    <button type="submit" class="btn-cadastrar">
                        {{ isEditMode ? 'Atualizar empresa' : 'Cadastrar empresa' }}
                    </button>
                </div>
            </form>
        </div>

        <app-loading *ngIf="isLoading"></app-loading>
    </div>
</div>