<div  *ngIf="permissaoUsuario === 'Administrador' || permissaoUsuario === 'Coordenador'">
    <div class="main-container">
        <div class="back-title">
            <img src="assets/icones/back-left.svg" alt="Back" class="back-icon" (click)="goBack()">
            <span>{{ isEditMode ? 'Editar empresa' : 'Cadastrar empresa' }}</span>
        </div>
    
        <div class="forms-container">
            <form (ngSubmit)="onSubmit()" [formGroup]="empresaForm">
                <div class="form-group">
                    <label for="razaoSocial">Razão social<span *ngIf="isRequired('razaoSocial')" class="required-asterisk">*</span></label>
                    <input type="text" id="razaoSocial" name="razaoSocial" formControlName="razaoSocial" class="form-control" placeholder="Digite a razão social da empresa" required maxlength="250">
                    <div *ngIf="empresaForm.get('razaoSocial')?.invalid && (empresaForm.get('razaoSocial')?.touched || empresaForm.get('razaoSocial')?.dirty)" class="error-obrigatorio">
                        O campo Razão Social é obrigatório.
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label for="tipoIdentificacao">Tipo da identificação<span *ngIf="isRequired('tipoIdentificacao')" class="required-asterisk">*</span></label>
                        <app-select-padrao
                        label="Selecionar tipo da identificação"
                        [options]="tipoIdentificacao"
                        [(selectedValue)]="selectedTipoIdentificacao"
                        formControlName="tipoIdentificacao">
                        </app-select-padrao>
                        <div *ngIf="empresaForm.get('tipoIdentificacao')?.invalid && (empresaForm.get('tipoIdentificacao')?.touched || empresaForm.get('tipoIdentificacao')?.dirty)" class="error-obrigatorio">
                            O campo Tipo da identificação é obrigatório.
                        </div>
                    </div>
                    <div class="form-group">
                        <!-- CNPJ: exibido quando tipo !== 'CPF' -->
                        <div *ngIf="selectedTipoIdentificacao !== 'CPF'" class="identificacaoInput" class="form-group">
                            <label for="cnpj">CNPJ<span *ngIf="isRequired('cnpj')" class="required-asterisk">*</span></label>
                            <input type="text" id="cnpj" name="cnpj" formControlName="cnpj" class="form-control" placeholder="00.000.000/0000-00" mask="00.000.000/0000-00" [dropSpecialCharacters]="false">
                            <div *ngIf="empresaForm.get('cnpj')?.invalid && (empresaForm.get('cnpj')?.touched || empresaForm.get('cnpj')?.dirty)" class="error-obrigatorio">
                                O campo CNPJ é obrigatório.
                            </div>
                        </div>

                        <!-- CPF: exibido quando tipo === 'CPF' -->
                        <div *ngIf="selectedTipoIdentificacao === 'CPF'" class="form-group">
                            <label for="cpf">CPF<span *ngIf="isRequired('cpf')" class="required-asterisk">*</span></label>
                            <input type="text" id="cpf" name="cpf" formControlName="cpf" class="form-control" placeholder="000.000.000-00" mask="000.000.000-00" [dropSpecialCharacters]="false">
                            <div *ngIf="empresaForm.get('cpf')?.invalid && (empresaForm.get('cpf')?.touched || empresaForm.get('cpf')?.dirty)" class="error-obrigatorio">
                                O campo CPF é obrigatório.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label>Unidade da empresa</label>
                        <div class="radio-group">
                            <div class="radio-item">
                                <input type="radio" id="matriz" name="unidadeEmpresa" value="MATRIZ" formControlName="unidadeEmpresa" checked>
                                <label for="matriz">Matriz</label>
                            </div>
                            <div class="radio-item">
                                <input type="radio" id="filial" name="unidadeEmpresa" value="FILIAL" formControlName="unidadeEmpresa">
                                <label for="filial">Filial</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="identificadorEmpresaMatriz">Empresa matriz</label>
                        <app-select-padrao
                            label="Selecionar empresa matriz"
                            [options]="empresasMatriz"
                            [(selectedValue)]="selectedMatriz"
                            formControlName="identificadorEmpresaMatriz"
                            [disabled]="matrizSelecionada"
                            [showDefaultOption]="true"
                            [defaultLabel]="'Nenhuma'"
                            [defaultValue]="''">
                        </app-select-padrao>
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label for="codEmpresa">Código da empresa no Questor<span *ngIf="isRequired('codQuestor')" class="required-asterisk">*</span></label>
                        <input type="text" id="codEmpresa" name="codEmpresa" formControlName="codQuestor" class="form-control" placeholder="Digite o código do questor" required maxlength="250">
                        <div *ngIf="empresaForm.get('codQuestor')?.invalid && (empresaForm.get('codQuestor')?.touched || empresaForm.get('codQuestor')?.dirty)" class="error-obrigatorio">
                            O campo Código da empresa no Questor é obrigatório.
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="codEmpDominio">Código da empresa no Domínio<span *ngIf="isRequired('codEmpDominio')" class="required-asterisk">*</span></label>
                        <input type="text" id="codEmpDominio" name="codEmpDominio" formControlName="codEmpDominio" class="form-control" placeholder="Digite o código do domínio" required maxlength="250">
                        <div *ngIf="empresaForm.get('codEmpDominio')?.invalid && (empresaForm.get('codEmpDominio')?.touched || empresaForm.get('codEmpDominio')?.dirty)" class="error-obrigatorio">
                            O campo Código da empresa no Domínio é obrigatório.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="regimeEmpresa">Regime da empresa<span *ngIf="isRequired('regimeEmpresa')" class="required-asterisk">*</span></label>
                    <app-select-padrao
                    label="Selecionar regime da empresa"
                    [options]="regimes"
                    [(selectedValue)]="selectedRegime"
                    formControlName="regimeEmpresa">
                    </app-select-padrao>
                    <div *ngIf="empresaForm.get('regimeEmpresa')?.invalid && (empresaForm.get('regimeEmpresa')?.touched || empresaForm.get('regimeEmpresa')?.dirty)" class="error-obrigatorio">
                        O campo Regime da empresa é obrigatório.
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label for="controleParcelamento">Controle de Parcelamento</label>
                        <app-multiplo-select
                            label="Selecionar controle de parcelamento"
                            [options]="controleParcelamento"
                            [(selectedValue)]="selectedControleParcelamento"
                            [multiple]="true" 
                            formControlName="controleParcelamento">
                        </app-multiplo-select>
                    </div>
                    <div class="form-group">
                        <label for="situacao">Situação da empresa<span *ngIf="isRequired('situacao')" class="required-asterisk">*</span></label>
                        <app-select-padrao
                            label="Selecionar situação da empresa"
                            [options]="situacao"
                            [(selectedValue)]="selectedSituacao"
                            formControlName="situacao">
                        </app-select-padrao>
                        <div *ngIf="empresaForm.get('situacao')?.invalid && (empresaForm.get('situacao')?.touched || empresaForm.get('situacao')?.dirty)" class="error-obrigatorio">
                            O campo Situação da empresa é obrigatório.
                        </div>
                    </div>
                </div>

                <!-- <div class="input-duo">
                    <div class="form-group">
                        <label for="tipo">Tipo da empresa<span *ngIf="isRequired('tipo')" class="required-asterisk">*</span></label>
                        <app-select-padrao
                        label="Selecionar tipo da empresa"
                        [options]="tipoEmpresa"
                        [(selectedValue)]="selectedTipoEmpresa"
                        formControlName="tipo">
                        </app-select-padrao>
                        <div *ngIf="empresaForm.get('tipo')?.invalid && (empresaForm.get('tipo')?.touched || empresaForm.get('tipo')?.dirty)" class="error-obrigatorio">
                            O campo Tipo da empresa é obrigatório.
                        </div>
                    </div>
                </div> -->

                <div class="input-duo">
                    <div class="form-group">
                        <label for="naturezaJuridica">Natureza juridica<span *ngIf="isRequired('naturezaJuridica')" class="required-asterisk">*</span></label>
                        <app-select-padrao
                        label="Selecionar natureza juridica"
                        [options]="naturezaJuridica"
                        [(selectedValue)]="selectedNaturezaJuridica"
                        formControlName="naturezaJuridica">
                        </app-select-padrao>
                        <div *ngIf="empresaForm.get('naturezaJuridica')?.invalid && (empresaForm.get('naturezaJuridica')?.touched || empresaForm.get('naturezaJuridica')?.dirty)" class="error-obrigatorio">
                            O campo Natureza juridica é obrigatório.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="porteEmpresa">Porte da empresa<span *ngIf="isRequired('porteEmpresa')" class="required-asterisk">*</span></label>
                        <app-select-padrao
                        label="Selecionar porte da empresa"
                        [options]="porteEmpresa"
                        [(selectedValue)]="selectedPorteEmpresa"
                        formControlName="porteEmpresa">
                        </app-select-padrao>
                        <div *ngIf="empresaForm.get('porteEmpresa')?.invalid && (empresaForm.get('porteEmpresa')?.touched || empresaForm.get('porteEmpresa')?.dirty)" class="error-obrigatorio">
                            O campo Porte da empresa é obrigatório.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <div class="radio-group">
                        <div class="radio-item">
                            <input type="radio" id="ativo" name="status" value="ATIVO" formControlName="status" checked>
                            <label for="ativo">Ativo</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="inativo" name="status" value="INATIVO" formControlName="status">
                            <label for="inativo">Inativo</label>
                        </div>
                    </div>
                </div>

                <div class="divisao">
                    <p>Endereço</p>
                    <hr class="line">
                </div>

                <div formGroupName="endereco" class="form-div">
                    <div class="input-duo">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <app-select-padrao
                            label="Selecione o estado"
                            [options]="estados"
                            [(selectedValue)]="selectedEstado"
                            (selectedValueChange)="onEstadoChange($event)"
                            formControlName="estado"
                            [showDefaultOption]="false"
                            [defaultLabel]="''"
                            [defaultValue]="''">
                            </app-select-padrao>
                        </div>
                        <div class="form-group">
                            <label for="cidade">Cidade</label>
                            <app-select-padrao
                            label="Selecione a cidade"
                            [options]="cidades"
                            [(selectedValue)]="selectedCidade"
                            (selectedValueChange)="onCidadeChange($event)"
                            formControlName="cidade"
                            [disabled]="empresaForm.get('endereco.cidade')?.disabled === true">
                            </app-select-padrao>
                        </div>
                    </div>

                    <div class="input-duo">
                        <div class="form-group">
                            <label for="cep">CEP</label>
                            <input type="text" id="cep" name="cep" formControlName="cep" class="form-control" placeholder="00000-000" mask="00000-000" [dropSpecialCharacters]="false">
                        </div>
                        <div class="form-group">
                            <label for="bairro">Bairro</label>
                            <input type="text" id="bairro" name="bairro" formControlName="bairro" class="form-control" placeholder="Digite o bairro" maxlength="250">
                        </div>
                    </div>
    
                    <div class="input-duo">
                        <div class="form-group">
                            <label for="rua">Rua</label>
                            <input type="text" id="rua" name="rua" formControlName="rua" class="form-control" placeholder="Digite a rua" maxlength="250">
                        </div>
                        <div class="form-group">
                            <label for="numero">Número</label>
                            <input type="text" id="numero" name="numero" formControlName="numero" class="form-control" placeholder="Digite o número" maxlength="250">
                        </div>
                    </div>

                    <div class="input-duo">
                        <div class="form-group">
                            <label for="complemento">Complemento</label>
                            <input type="text" id="complemento" name="complemento" formControlName="complemento" class="form-control" placeholder="Digite um complemento" maxlength="250">
                        </div>
                        <div class="form-group">
                            <label for="logradouro">Logradouro</label>
                            <input type="text" id="logradouro" name="logradouro" formControlName="logradouro" class="form-control" placeholder="Digite o logradouro" maxlength="250">
                        </div>
                    </div>
                </div>

                <div class="divisao">
                    <div class="header-divisao">
                        <p>Sócios</p>
                        <div class="add-socio">
                        <button type="button" (click)="openModalCadastro()" class="btn-adicionar">Adicionar +</button>
                        </div>
                    </div>
                    <hr class="line">
                    </div>

                    <div formArrayName="socios" class="socios" *ngIf="socios.controls.length > 0; else nenhumSocio">
                    <div *ngFor="let socioCtrl of socios.controls; let i = index" [formGroupName]="i" class="socio-card">
                        <div class="socio-info">
                            <div class="data-grid">
                                <div class="item-data">
                                    <label>Nome</label>
                                    <p>{{ socioCtrl.get('nome')?.value || '-' }}</p>
                                </div>
                                <div class="item-data">
                                    <label>CPF</label>
                                    <p>{{ socioCtrl.get('cpf')?.value || '-' }}</p>
                                </div>
                            </div>

                            <div class="item-data">
                                <label>E-mail</label>
                                <p>{{ socioCtrl.get('email')?.value || '-' }}</p>
                            </div>

                            <div class="data-grid">
                                <div class="item-data">
                                    <label>Inscrição Estadual </label>
                                    <p>{{ socioCtrl.get('inscricaoEstadual')?.value || '-' }}</p>
                                </div>
                                <div class="item-data">
                                    <label>Estado Civil</label>
                                    <p>{{ socioCtrl.get('estadoCivil')?.value || '-' }}</p>
                                </div>
                            </div>

                            <div class="data-grid">
                                <div class="item-data">
                                    <label>Telefone</label>
                                    <p>{{ socioCtrl.get('telefone')?.value || '-' }}</p>
                                </div>
                                <div class="item-data">
                                    <label>WhatsApp</label>
                                    <p>{{ socioCtrl.get('whatsapp')?.value || '-' }}</p>
                                </div>
                            </div>

                            <div class="data-grid">
                                <div class="item-data">
                                    <label>Estado</label>
                                    <p>{{ socioCtrl.get('endereco.estado')?.value || '-' }}</p>
                                </div>
                                <div class="item-data">
                                    <label>Cidade</label>
                                    <p>{{ socioCtrl.get('endereco.cidade')?.value || '-' }}</p>
                                </div>
                            </div>
                            <div class="data-grid">
                                <div class="item-data">
                                    <label>CEP</label>
                                    <p>{{ socioCtrl.get('endereco.cep')?.value || '-' }}</p>
                                </div>
                                <div class="item-data">
                                    <label>Bairro</label>
                                    <p>{{ socioCtrl.get('endereco.bairro')?.value || '-' }}</p>
                                </div>
                            </div>
                            <div class="data-grid">
                                <div class="item-data">
                                    <label>Rua</label>
                                    <p>{{ socioCtrl.get('endereco.rua')?.value || '-' }}</p>
                                </div>
                                <div class="item-data">
                                    <label>Número</label>
                                    <p>{{ socioCtrl.get('endereco.numero')?.value || '-' }}</p>
                                </div>
                            </div>
                            <div class="data-grid">
                                <div class="item-data">
                                    <label>Complemento</label>
                                    <p>{{ socioCtrl.get('endereco.complemento')?.value || '-' }}</p>
                                </div>
                                <div class="item-data">
                                    <label>Logradouro</label>
                                    <p>{{ socioCtrl.get('endereco.logradouro')?.value || '-' }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="socio-actions">
                            <button type="button" class="btn-editar" (click)="editarSocio(i)">
                                <img src="assets/icones/edit.svg" alt="Editar">
                            </button>
                            <button type="button" class="btn-remover" (click)="removeSocio(i)">
                                <img src="assets/icones/delete.svg" alt="Excluir">
                            </button>
                        </div>
                    </div>
                </div>

                <ng-template #nenhumSocio>
                    <p style="color: var(--lm-text02);">Nenhum sócio adicionado.</p>
                </ng-template>

                <!-- <div formArrayName="socios" class="socios">
                  <div *ngFor="let socioCtrl of socios.controls; let i = index" [formGroupName]="i" class="socio-item">
                    <div class="input-triplo">
                      <div class="form-group">
                        <label for="nomeSocio{{i}}">Nome</label>
                        <input type="text" id="nomeSocio{{i}}" formControlName="nome" class="form-control" placeholder="Digite o nome" maxlength="250">
                      </div>
                      <div class="form-group">
                        <label for="cpfSocio{{i}}">CPF</label>
                        <input type="text" id="cpfSocio{{i}}" formControlName="cpf" class="form-control" placeholder="Digite o CPF" mask="000.000.000-00" [dropSpecialCharacters]="false">
                      </div>
                      <div class="form-group">
                        <label for="estadoCivil{{i}}">Estado civil</label>
                        <app-select-padrao
                          label="Selecionar estado civil"
                          [options]="estadoCivil"
                          formControlName="estadoCivil">
                        </app-select-padrao>
                      </div>
                    </div>
                    <div class="socio-actions">
                      <button type="button" (click)="removeSocio(i)" class="btn-remover">Remover</button>
                    </div>
                  </div>
                </div> -->

                <div class="divisao">
                    <p>Documentos</p>
                    <hr class="line">
                </div>

                <div class="form-group">
                    <label for="arquivos">Arquivos</label>
                    <app-input-arquivos 
                        (arquivosSelecionados)="onArquivosSelecionados($event)"
                        formControlName="arquivos"
                        [empresaId]="empresaId">
                    </app-input-arquivos>
                </div>

                <div class="divisao">
                    <p>Funcionários responsáveis</p>
                    <hr class="line">
                </div>

                <div class="form-group">
                    <label for="contabil">Setor Contábil</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosContabil"
                    [(selectedValue)]="selectedContabil" 
                    [multiple]="true"               
                    formControlName="identificadorContabil">
                    </app-multiplo-select>
                </div>

                <div class="form-group">
                    <label for="fiscal">Setor Fiscal</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosFiscal"
                    [(selectedValue)]="selectedFiscal"
                    [multiple]="true" 
                    formControlName="identificadorFiscal">
                    </app-multiplo-select>
                </div>

                <div class="form-group">
                    <label for="pessoal">Setor Pessoal</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosPessoal"
                    [(selectedValue)]="selectedPessoal"
                    [multiple]="true" 
                    formControlName="identificadorPessoal">
                    </app-multiplo-select>
                </div>

                <div class="form-group">
                    <label for="paralegal">Setor Paralegal</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosParalegal"
                    [(selectedValue)]="selectedParalegal"
                    [multiple]="true" 
                    formControlName="identificadorParalegal">
                    </app-multiplo-select>
                </div>

                <div class="form-group">
                    <label for="financeiro">Setor Financeiro</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosFinanceiro"
                    [(selectedValue)]="selectedFinanceiro"
                    [multiple]="true" 
                    formControlName="identificadorFinanceiro">
                    </app-multiplo-select>
                </div>

                <div class="alerts">
                    <div class="alert-two alert-success" *ngIf="successMessage">
                    {{ successMessage }}
                    </div>
                    <div class="alert-two alert-danger" *ngIf="errorMessage">
                        {{ errorMessage }}
                    </div>
                </div>

                <div class="container-btn">
                    <button type="submit" class="btn-cadastrar">
                        {{ isEditMode ? 'Atualizar empresa' : 'Cadastrar empresa' }}
                    </button>
                </div>
            </form>
        </div>

        <app-loading *ngIf="isLoading"></app-loading>
    </div>
</div>

<ng-template #formCadastroTemplate>
  <div class="forms-container">
    <form class="modal-form" [formGroup]="socioForm">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" formControlName="nome" class="form-control" placeholder="Digite o nome" maxlength="250">
        </div>

        <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" formControlName="cpf" class="form-control" placeholder="000.000.000-00" mask="000.000.000-00" [dropSpecialCharacters]="false">
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" formControlName="email" class="form-control" placeholder="Digite o E-mail">
        </div>

        <div class="form-group">
            <label for="inscricaoEstadual">Inscrição Estadual</label>
            <input type="text" formControlName="inscricaoEstadual" class="form-control" placeholder="Digite a Inscrição Estadual">
        </div>

        <div class="form-group">
            <label for="estadoCivil">Estado civil</label>
            <app-select-padrao
                label="Selecionar estado civil"
                [options]="estadoCivil"
                formControlName="estadoCivil">
            </app-select-padrao>
        </div>

        <div class="input-duo">
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" formControlName="telefone" class="form-control" placeholder="(00) 00000-0000" mask="(00) 00000-0000" [dropSpecialCharacters]="false">
            </div>
            <div class="form-group">
                <label for="whatsapp">WhatsApp</label>
                <input type="text" formControlName="whatsapp" class="form-control" placeholder="(00) 00000-0000" mask="(00) 00000-0000" [dropSpecialCharacters]="false">
            </div>
        </div>

        <div class="divisao">
            <p>Endereço</p>
            <hr class="line">
        </div>

        <div formGroupName="endereco" class="form-div">
            <div class="input-duo">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <app-select-padrao
                        label="Selecione o estado"
                        [options]="estados"
                        [(selectedValue)]="selectedEstado"
                        (selectedValueChange)="onEstadoChange($event)"
                        formControlName="estado"
                        [showDefaultOption]="false"
                        [defaultLabel]="''"
                        [defaultValue]="''">
                    </app-select-padrao>
                </div>
                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <app-select-padrao
                        label="Selecione a cidade"
                        [options]="cidades"
                        [(selectedValue)]="selectedCidade"
                        (selectedValueChange)="onCidadeChange($event)"
                        formControlName="cidade"
                        [disabled]="empresaForm.get('endereco.cidade')?.disabled === true">
                    </app-select-padrao>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="cep">CEP</label>
                    <input type="text" id="cep" name="cep" formControlName="cep" class="form-control" placeholder="00000-000" mask="00000-000" [dropSpecialCharacters]="false">
                </div>
                <div class="form-group">
                    <label for="bairro">Bairro</label>
                        <input type="text" id="bairro" name="bairro" formControlName="bairro" class="form-control" placeholder="Digite o bairro" maxlength="250">
                </div>
            </div>
    
            <div class="input-duo">
                <div class="form-group">
                    <label for="rua">Rua</label>
                    <input type="text" id="rua" name="rua" formControlName="rua" class="form-control" placeholder="Digite a rua" maxlength="250">
                </div>
                <div class="form-group">
                    <label for="numero">Número</label>
                    <input type="text" id="numero" name="numero" formControlName="numero" class="form-control" placeholder="Digite o número" maxlength="250">
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="complemento">Complemento</label>
                    <input type="text" id="complemento" name="complemento" formControlName="complemento" class="form-control" placeholder="Digite um complemento" maxlength="250">
                </div>
                <div class="form-group">
                    <label for="logradouro">Logradouro</label>
                    <input type="text" id="logradouro" name="logradouro" formControlName="logradouro" class="form-control" placeholder="Digite o logradouro" maxlength="250">
                </div>
            </div>
        </div>
    </form>
  </div>
</ng-template>