<div  *ngIf="permissaoUsuario === 'Administrador' || permissaoUsuario === 'Coordenador' || permissaoUsuario === 'Estagiario'">
    <div class="main-container">
        <div class="back-title">
            <img src="assets/icones/back-left.svg" alt="Back" class="back-icon" (click)="goBack()">
            <span>{{ isEditMode ? 'Editar empresa' : 'Cadastrar empresa' }}</span>
        </div>
    
        <div class="forms-container">
            <form (ngSubmit)="onSubmit()" [formGroup]="empresaForm">
                <div class="form-group">
                    <label for="razaoSocial">Razão social<span *ngIf="isRequired('razaoSocial')" class="required-asterisk">*</span></label>
                    <input type="text" id="razaoSocial" name="razaoSocial" formControlName="razaoSocial" class="form-control" placeholder="Digite a razão social da empresa" required maxlength="250">
                    <div *ngIf="empresaForm.get('razaoSocial')?.invalid && (empresaForm.get('razaoSocial')?.touched || empresaForm.get('razaoSocial')?.dirty)" class="error-obrigatorio">
                        O campo Razão Social é obrigatório.
                    </div>
                </div>

                <div class="form-group">
                    <label for="cnpj">CNPJ<span *ngIf="isRequired('cnpj')" class="required-asterisk">*</span></label>
                    <input type="text" id="cnpj" name="cnpj" formControlName="cnpj" class="form-control" placeholder="00.000.000/0000-00" mask="00.000.000/0000-00" [dropSpecialCharacters]="false" required>
                    <div *ngIf="empresaForm.get('cnpj')?.invalid && (empresaForm.get('cnpj')?.touched || empresaForm.get('cnpj')?.dirty)" class="error-obrigatorio">
                        O campo CNPJ é obrigatório.
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label for="codEmpresa">Código da empresa no Questor<span *ngIf="isRequired('codQuestor')" class="required-asterisk">*</span></label>
                        <input type="text" id="codEmpresa" name="codEmpresa" formControlName="codQuestor" class="form-control" placeholder="Digite o código do questor" required maxlength="250">
                        <div *ngIf="empresaForm.get('codQuestor')?.invalid && (empresaForm.get('codQuestor')?.touched || empresaForm.get('codQuestor')?.dirty)" class="error-obrigatorio">
                            O campo Código da empresa no Questor é obrigatório.
                        </div>
                    </div>
        
                    <div class="form-group">
                        <label for="codEmpDominio">Código da empresa no Domínio<span *ngIf="isRequired('codEmpDominio')" class="required-asterisk">*</span></label>
                        <input type="text" id="codEmpDominio" name="codEmpDominio" formControlName="codEmpDominio" class="form-control" placeholder="Digite o código do domínio" required maxlength="250">
                        <div *ngIf="empresaForm.get('codEmpDominio')?.invalid && (empresaForm.get('codEmpDominio')?.touched || empresaForm.get('codEmpDominio')?.dirty)" class="error-obrigatorio">
                            O campo Código da empresa no Domínio é obrigatório.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="regimeEmpresa">Regime da empresa<span *ngIf="isRequired('regimeEmpresa')" class="required-asterisk">*</span></label>
                    <app-select-padrao
                    label="Selecionar regime da empresa"
                    [options]="regimes"
                    [(selectedValue)]="selectedRegime"
                    formControlName="regimeEmpresa">
                    </app-select-padrao>
                    <div *ngIf="empresaForm.get('regimeEmpresa')?.invalid && (empresaForm.get('regimeEmpresa')?.touched || empresaForm.get('regimeEmpresa')?.dirty)" class="error-obrigatorio">
                        O campo Regime da empresa é obrigatório.
                    </div>
                </div>

                <div class="form-group">
                    <label for="controleParcelamento">Controle de Parcelamento<span *ngIf="isRequired('controleParcelamento')" class="required-asterisk">*</span></label>
                    <app-select-padrao
                    label="Selecionar controle de parcelamento"
                    [options]="controleParcelamento"
                    [(selectedValue)]="selectedControleParcelamento"
                    formControlName="controleParcelamento">
                    </app-select-padrao>
                    <div *ngIf="empresaForm.get('controleParcelamento')?.invalid && (empresaForm.get('controleParcelamento')?.touched || empresaForm.get('controleParcelamento')?.dirty)" class="error-obrigatorio">
                        O campo Controle de Parcelamento é obrigatório.
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label for="tipo">Tipo da empresa<span *ngIf="isRequired('tipo')" class="required-asterisk">*</span></label>
                        <app-select-padrao
                        label="Selecionar tipo da empresa"
                        [options]="tipoEmpresa"
                        [(selectedValue)]="selectedTipoEmpresa"
                        formControlName="tipo">
                        </app-select-padrao>
                        <div *ngIf="empresaForm.get('tipo')?.invalid && (empresaForm.get('tipo')?.touched || empresaForm.get('tipo')?.dirty)" class="error-obrigatorio">
                            O campo Tipo da empresa é obrigatório.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="situacao">Situação da empresa<span *ngIf="isRequired('situacao')" class="required-asterisk">*</span></label>
                        <app-select-padrao
                        label="Selecionar situação da empresa"
                        [options]="situacao"
                        [(selectedValue)]="selectedSituacao"
                        formControlName="situacao">
                        </app-select-padrao>
                        <div *ngIf="empresaForm.get('situacao')?.invalid && (empresaForm.get('situacao')?.touched || empresaForm.get('situacao')?.dirty)" class="error-obrigatorio">
                            O campo Situação da empresa é obrigatório.
                        </div>
                    </div>
                </div>

                <div class="input-duo">
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <app-select-padrao
                          label="Selecione o estado"
                          [options]="estados"
                          [(selectedValue)]="selectedEstado"
                          (selectedValueChange)="onEstadoChange($event)"
                          formControlName="estado"
                          [showDefaultOption]="false"
                          [defaultLabel]="''"
                          [defaultValue]="''">
                        </app-select-padrao>
                    </div>
                    <div class="form-group">
                        <label for="cidade">Cidade</label>
                        <app-select-padrao
                          label="Selecione a cidade"
                          [options]="cidades"
                          [(selectedValue)]="selectedCidade"
                          (selectedValueChange)="onCidadeChange($event)"
                          formControlName="cidade"
                          [disabled]="empresaForm.get('cidade')?.disabled === true">
                        </app-select-padrao>
                    </div>
                </div>

                <div class="form-group">
                    <label>Status</label>
                    <div class="radio-group">
                        <div class="radio-item">
                            <input type="radio" id="ativo" name="status" value="ATIVO" formControlName="status" checked>
                            <label for="ativo">Ativo</label>
                        </div>
                        <div class="radio-item">
                            <input type="radio" id="inativo" name="status" value="INATIVO" formControlName="status">
                            <label for="inativo">Inativo</label>
                        </div>
                    </div>
                </div>

                <div class="divisao">
                    <p>Funcionários responsáveis</p>
                    <hr class="line">
                </div>

                <div class="form-group">
                    <label for="contabil">Setor Contábil</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosContabil"
                    [(selectedValue)]="selectedContabil" 
                    [multiple]="true"               
                    formControlName="identificadorContabil">
                    </app-multiplo-select>
                </div>

                <div class="form-group">
                    <label for="fiscal">Setor Fiscal</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosFiscal"
                    [(selectedValue)]="selectedFiscal"
                    [multiple]="true" 
                    formControlName="identificadorFiscal">
                    </app-multiplo-select>
                </div>

                <div class="form-group">
                    <label for="pessoal">Setor Pessoal</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosPessoal"
                    [(selectedValue)]="selectedPessoal"
                    [multiple]="true" 
                    formControlName="identificadorPessoal">
                    </app-multiplo-select>
                </div>

                <div class="form-group">
                    <label for="paralegal">Setor Paralegal</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosParalegal"
                    [(selectedValue)]="selectedParalegal"
                    [multiple]="true" 
                    formControlName="identificadorParalegal">
                    </app-multiplo-select>
                </div>

                <div class="form-group">
                    <label for="financeiro">Setor Financeiro</label>
                    <app-multiplo-select
                    label="Selecionar funcionário"
                    [options]="funcionariosFinanceiro"
                    [(selectedValue)]="selectedFinanceiro"
                    [multiple]="true" 
                    formControlName="identificadorFinanceiro">
                    </app-multiplo-select>
                </div>

                <div class="alerts">
                    <div class="alert-two alert-success" *ngIf="successMessage">
                    {{ successMessage }}
                    </div>
                    <div class="alert-two alert-danger" *ngIf="errorMessage">
                        {{ errorMessage }}
                    </div>
                </div>

                <div class="container-btn">
                    <button type="submit" class="btn-cadastrar">
                        {{ isEditMode ? 'Atualizar empresa' : 'Cadastrar empresa' }}
                    </button>
                </div>
            </form>
        </div>

        <app-loading *ngIf="isLoading"></app-loading>
    </div>
</div>