<div class="main-container">
    <div class="header-container">
        <h2>Fluxos</h2>
    </div>

    <div class="table-container">
        <div class="filtro-container">
             <div class="select-container">
                <app-select-padrao
                  label="Setor"
                  [options]="setores"
                  [(selectedValue)]="selectedSetor"
                  (selectedValueChange)="onSetorChange()"
                  [showDefaultOption]="true"
                  [defaultLabel]="'Todos os setores'"
                  [defaultValue]="''">
                </app-select-padrao>
             </div>

            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
        </div>

        <div class="progress-bar-container" *ngIf="isLoading">
            <div class="progress-bar"></div>
        </div>

        <div class="tabela-container">
            <table>
                <thead>
                    <tr>
                        <th>Nome do processo</th>
                        <th>Tipo</th>
                        <th>Setor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let processo of processosPaginados">
                        <td>
                            <div class="perfil">
                                {{ processo.nome }}
                            </div>
                        </td>
                        <td>{{ processo.tipoDeProcesso }}</td>
                        <td>
                            <app-setor-tag [setor]="processo.setor"></app-setor-tag>
                        </td>
                        <td>
                            <div class="container-acoes">
                                <button class="btn-acao visualizar" (click)="visualizarFluxo(processo.id)">
                                    <img src="assets/icones/eye-open-white.svg" alt="visualizar">
                                    Visualizar
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="processosPaginados.length === 0" class="feedback-container">
            <ng-container *ngIf="mensagemBusca; else semUsuarios">
                <div>
                <div class="search alert-warning text-center">
                    {{ mensagemBusca }}
                </div>
                </div>
            </ng-container>
            <ng-template #semUsuarios>
                <div class="no-data-message">
                <img src="assets/imagens/no-data.svg" alt="Sem dados">
                <p>Não há usuários cadastrados.</p>
                </div>
            </ng-template>
        </div>

        <div class="paginacao">
            <app-pagination
            [paginaAtual]="paginaAtual"
            [totalItens]="totalItens"
            [itensPorPagina]="itensPorPagina"
            (paginaMudou)="onPaginaMudou($event)">
            </app-pagination>
        </div>  
    </div>
</div>