<main class="container-recuperacao">
    <div class="modal-recuperacao">
        <div class="title-header">
            <img src="assets/imagens/Logo-LM.svg" alt="Logo" class="logo-lm" />
            <h1>Recuperação de senha</h1>
            <p>Por favor, digite o e-mail da sua conta. Enviaremos um 
                e-mail com instruções para você recuperar sua senha.</p>
        </div>

        <div class="alerts">
            <div class="alert alert-success" *ngIf="mensagemSucesso">
              {{ mensagemSucesso }}
            </div>

            <div class="alert alert-danger" *ngFor="let erro of errors">
              {{ erro }}
            </div>
        </div>
         <form (ngSubmit)="onSubmit()" *ngIf="!enviado">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" [(ngModel)]="email" placeholder="exemplo@gmail.com" class="input-recuperar" required>
            </div>
            <div class="container-btn">
                <button type="button" class="btn btn-back" (click)="goBack()">Voltar</button>
                <button type="submit" class="btn btn-recuperar">Enviar</button>
            </div>
         </form>
    </div>
</main>