<div class="main-container">
    <div class="title-container">
        <h2>Bem-vindo(a), {{ usuario?.nome }}</h2>
        <div class="select-container">
        <app-select-padrao
            label="Últimos 7 dias"
            [customStyles]="{ 'background-color': '#f8f9fa' }">
        </app-select-padrao>
        </div>
    </div>
    <div class="cards-container">
        <div class="cards-moedas">
            <div class="card moeda-card">
                <div class="value">
                    <span>{{ cotacoes.euro | number:'1.2-2' }}</span>
                    <img src="assets/icones/dashboard/euro.svg" alt="moeda euro">
                </div>
                <p>€1,00 EUR = R${{ (cotacoes.euro * 1000) | number:'1.0-0' }} BRL</p>
            </div>
            <div class="card moeda-card">
                <div class="value">
                    <span>{{ cotacoes.dolar | number:'1.2-2' }}</span>
                    <img src="assets/icones/dashboard/dolar.svg" alt="moeda dolar">
                </div>
                <p>$1,00 USD = R${{ (cotacoes.dolar * 1000) | number:'1.0-0' }} BRL</p>
            </div>
            <div class="card moeda-card">
                <div class="value">
                  <span>{{ selic }}%</span>
                  <img src="assets/icones/dashboard/aumento.svg" alt="aumento">
                </div>
                <p>Taxa Selic</p>
              </div>              
        </div>
    </div>

    <div class="cards-setores" *ngIf="setorUsuario.nome">
        <div class="card">
            <div class="title">
                <span>{{ setorUsuario.nome }}</span>
                <img [src]="'assets/icones/dashboard/' + setorUsuario.icone">
            </div>
            <div class="progress">
                <label>Atividades concluídas</label>
                <div class="progresso-atividade-container">
                    <div class="progresso-atividade-bar">
                        <div class="progresso-atividade-fill" [style.width.%]="setorUsuario.porcentagem"></div>
                    </div>
                    <p class="progresso-atividade-porcentagem">{{ setorUsuario.porcentagem }}%</p>
                </div>
            </div>
        </div>
    </div>
 
    <div class="cards-infos">
            <div class="card">
            <div class="qtd">
                <span>{{ resumoAtividadesUsuario.totalAtribuidas }}</span>
                <img src="assets/icones/dashboard/add-user.svg" alt="pessoas" />
            </div>
            <p>Tarefas atribuídas</p>
            </div>
            <div class="card">
            <div class="qtd">
                <span>{{ resumoAtividadesUsuario.emAndamento }}</span>
                <img src="assets/icones/dashboard/calendario.svg" alt="predios" />
            </div>
            <p>Em progresso</p>
            </div>
            <div class="card">
            <div class="qtd">
                <span>{{ resumoAtividadesUsuario.concluidas }}</span>
                <img src="assets/icones/dashboard/check.svg" alt="pessoa" />
            </div>
            <p>Concluídas</p>
        </div>
    </div>

    <div class="graficos-container">
        <div id="contabil">
             <div class="title-grafico">
                <h3>
                    Atividades do Setor {{ nomeSetorGrafico }}
                </h3>
                <div class="select-container">
                    <app-select-padrao
                    label="Últimos 7 dias"
                    [customStyles]="{ 'background-color': '#f8f9fa' }">
                    </app-select-padrao>
                </div>
            </div>
            <div class="duo-container">
                <app-grafico-barra-horizontal
                    [series]="[{ name: 'Abertas', data: [
                        atividadesResumoSetor?.abertas?.noPrazo ?? 0,
                        atividadesResumoSetor?.abertas?.emAtraso ?? 0,
                        atividadesResumoSetor?.abertas?.comMultas ?? 0
                    ] }]"
                    [categories]="['No prazo', 'Em atraso', 'Com multas']"
                    [colors]="['#FEB019']"
                    title="Abertas">
                </app-grafico-barra-horizontal>
                <app-grafico-barra-horizontal
                    [series]="[{ name: 'Concluídas', data: [
                        atividadesResumoSetor?.concluidas?.noPrazo ?? 0,
                        atividadesResumoSetor?.concluidas?.emAtraso ?? 0,
                        atividadesResumoSetor?.concluidas?.comMultas ?? 0
                    ] }]"
                    [categories]="['No prazo', 'Em atraso', 'Com multas']"
                    [colors]="['#1fde82']"
                    title="Concluídas">
                </app-grafico-barra-horizontal>
            </div>
        </div>
    </div>

     <div id="geral">
        <div class="title-grafico">
            <h3> 
                Desempenho das atividades
            </h3>
        </div>

        <app-grafico-linha
            [series]="graficoAtividadesMensaisSetor.series"
            [categories]="graficoAtividadesMensaisSetor.categories"
            [colors]="['#5EA828']"
            title="Atividades concluidas por mês"
            totalLabel="Total"
            [showTotal]="true"
            [subtitle]="'Total: ' + totalAtividadesPorMes">
        </app-grafico-linha>
    </div>
</div>