:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* fundo branco transparente */
  z-index: 16; /* bem alto para ficar acima de tudo */
  display: flex;
  align-items: center;
  justify-content: center;
}
