<div class="main-container">
    <div class="back-title">
        <img src="assets/icones/back-left.svg" alt="Back" class="back-icon" (click)="goBack()">
        <span>Cadastrar notícia</span>
    </div>
  
    <div class="forms-container">
        <form [formGroup]="noticiaForm">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" formControlName="titulo" class="form-control" placeholder="Digite" required>
            </div>

            <div class="form-group">
                <label for="setor">Destinatário</label>
                <app-select-padrao
                  label="Selecionar o setor"
                  formControlName="destinatario"
                  [customStyles]="{'background': '#FFFFFF'}">
                </app-select-padrao>
            </div>

            <div class="form-group">
                <label for="descricao">Texto da notícia</label>
                <textarea type="text" id="descricao" name="descricao" formControlName="descricao" class="form-control" placeholder="Digite" rows="6" required></textarea>
            </div>

            <div class="container-btn">
                <button type="submit" class="btn-cadastrar">
                    Cadastrar notícia
                </button>
            </div>
        </form>
    </div>
</div>