<div class="main-container">
   <div class="header-container">
        <h2>Histórico de Atividades</h2>
    </div>

   <div class="table-container">
        <div class="filtro-container">
            <div class="select-container">
                <app-select-padrao
                    label="Setor"
                    [options]="setores"
                    [(selectedValue)]="selectedSetor"
                    (selectedValueChange)="onSetorChange()"
                    [showDefaultOption]="true"
                    [defaultLabel]="'Todos os setores'"
                    [defaultValue]="''">
                </app-select-padrao>
            </div>

            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
        </div>

        <div class="progress-bar-container" *ngIf="isLoading">
            <div class="progress-bar"></div>
        </div>

        <div class="tabela-container">
            <table>
                <thead>
                    <tr>
                        <th>Atividade</th>
                        <th>Setor</th>
                        <th>Empresa</th>
                        <th>Data/Hora</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let historico of historicoPaginado">
                        <td>
                            <div class="perfil">
                                {{ historico.atividade.nome }}
                            </div>
                        </td>
                        <td>
                            <app-setor-tag [setor]="historico.atividade.setor"></app-setor-tag>
                        </td>
                        <td>{{ historico.atividade.empresa?.razaoSocial || '-' }}</td>
                        <td>{{ (historico.data | date:'dd/MM/yyyy') + ' às ' + (historico.data | date:'HH:mm') || '-' }}</td>
                        <td>
                            <div class="container-acoes">
                                <button class="btn-acao visualizar" (click)="abrirModalAtividade(historico.id)">
                                    <img src="assets/icones/eye-open-white.svg" alt="visualizar">
                                    Visualizar
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="historicoPaginado.length === 0" class="feedback-container">
            <ng-container *ngIf="mensagemBusca; else semUsuarios">
                <div>
                <div class="search alert-warning text-center">
                    {{ mensagemBusca }}
                </div>
                </div>
            </ng-container>
            <ng-template #semUsuarios>
                <div class="no-data-message">
                <img src="assets/imagens/no-data.svg" alt="Sem dados">
                <p>Não há atividades arquivadas.</p>
                </div>
            </ng-template>
        </div>

        <div class="paginacao">
            <app-pagination
            [paginaAtual]="paginaAtual"
            [totalItens]="totalItens"
            [itensPorPagina]="itensPorPagina"
            (paginaMudou)="onPaginaMudou($event)">
            </app-pagination>
        </div>  
    </div>
</div>