.main-container {
  margin: 120px 32px 24px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* em breve */
.container-aviso {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: #f0f7fd;
  border-radius: 8px;
  height: 80vh;
}

.emBreve {
  width: 50%;
}
