<main>
  <div class="login-container">
    <div class="login-text">
      <img src="assets/icones/lm-logo-login.svg" alt="Logo LM" />
       <div class="login-infos">
        <div class="login-title">
          <h1>Bem-vindo ao <br/> LM Gestor</h1>
          <p>O sistema da LM Assessoria Contábil <br/>
            para simplificar e organizar suas <br/>
            atividades contábeis.
          </p>
        </div>

        <span>
          Gestão contábil segura, ágil e sempre <br/> ao seu alcance.
        </span>
       </div>
       <div class="links">
        <a href="https://lmcontabil.com.br/politica-de-privacidade/">Política de privacidade</a> 
        <span> | </span>
        <a href="https://lmcontabil.com.br/politica-de-privacidade/">Termos de uso</a>
       </div>
    </div>

    <div class="login-form">
      <img src="assets/imagens/Logo-LM.svg" alt="Logo" class="logo-lm" />
      <h2>Login</h2>
      <div class="body-login">
        <form class="container-input" (ngSubmit)="onSubmit()">
          <div class="alerts">
            <div class="alert alert-success" *ngIf="mensagemSucesso">
              {{ mensagemSucesso }}
            </div>

            <div class="alert alert-danger" *ngFor="let erro of errors">
                {{ erro }}
            </div>
          </div>
          <div class="form-group container-input">
            <label class="small mb-1">E-mail</label>
            <div class="input-group">
              <input 
                type="email" 
                name="email" 
                autocomplete="off" 
                class="form-control input-login"
                placeholder="Informe o seu e-mail" 
                [(ngModel)]="email" 
                required 
              />
            </div>
          </div>

          <div class="form-group container-input">
            <label class="small mb-1">Senha</label>
            <div class="input-group">
              <input 
              [type]="passwordVisible['password'] ? 'text' : 'password'"
                name="password" 
                class="form-control py-2 responsive-input"
                placeholder="Informe a sua senha" 
                [(ngModel)]="password" 
                required 
              />
              <div class="input-icon" type="button" (click)="togglePasswordVisibility('password')">
                <img *ngIf="!passwordVisible['password']" src="assets/icones/eye-open.svg" alt="Mostrar senha" class="toggle-password"/>
                <img *ngIf="passwordVisible['password']" src="assets/icones/eye-closed.svg" alt="Mostrar senha" class="toggle-password"/>
              </div>
            </div>
          </div>

          <div class="recuperacao-senha">
            <a routerLink="/recuperacao-de-senha">Esqueci minha senha</a>
          </div>

            <button class="btn-login" type="submit">Entrar</button>
        </form>
      </div>
    </div>
  </div>
</main>
