<div class="main-container">
    <div class="header-container">
        <h2>Processos</h2>
        <button class="btn btn-primary" (click)="cadastrarProcesso()">Cadastrar processo +</button>
    </div>

    <div class="table-container">
        <div class="filtro-container">
            <div class="select-container">
                <app-select-padrao
                  label="Setor"
                  [options]="setores"
                  [(selectedValue)]="selectedSetor"
                  (selectedValueChange)="onSetorChange()"
                  [showDefaultOption]="true"
                  [defaultLabel]="'Todos os setores'"
                  [defaultValue]="''">
                </app-select-padrao>
            </div>

            <div class="search-container">
                <app-search (searchChange)="onSearch($event)"></app-search>
            </div>
        </div>

        <div *ngIf="successMessage" class="alert alert-success">
            <span>{{ successMessage }}</span>
            <button class="close-btn" (click)="clearMessage()" aria-label="Fechar">&times;</button>
            <div class="progress-bar-sucess" [style.animation]="successMessage ? 'progressBarAnim 3s linear' : 'none'"></div>
        </div>

        <div class="progress-bar-container" *ngIf="isLoading">
            <div class="progress-bar"></div>
        </div>

        <div [ngClass]="{'tabela-container': true, 'no-data': processosPaginados.length === 0}">
            <table>
                <thead>
                    <tr>
                        <th>Nome do processo</th>
                        <th>Tipo</th>
                        <th>Setor</th>
                        <th>Data/Horário</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody *ngIf="processosPaginados.length > 0">
                    <tr *ngFor="let processo of processosPaginados">
                        <td>
                            <div class="perfil">
                                <span>
                                    {{ processo.nome }}
                                </span>
                            </div>
                        </td>
                        <td>{{ processo.tipoDeProcesso }}</td>
                        <td>
                            <app-setor-tag [setor]="processo.setor"></app-setor-tag>
                        </td>
                        <td>{{ processo.dataCadastro | date: 'dd/MM/yyyy' }} às {{ processo.dataCadastro | date: 'HH:mm' }}</td>
                        <td>
                            <div class="container-acoes">
                                <button class="btn-acao edit" (click)="editarProcesso(processo.id)">
                                    <img src="assets/icones/edit.svg" alt="Editar">
                                    Editar
                                </button>
                                <button class="btn-acao delete" (click)="openModalDeletar(processo)">
                                    <img src="assets/icones/delete.svg" alt="Excluir">
                                     Excluir
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div *ngIf="processosPaginados.length === 0" class="feedback-container">
            <ng-container *ngIf="mensagemBusca; else semProcessos">
                <div>
                <div class="search alert-warning text-center">
                    {{ mensagemBusca }}
                </div>
                </div>
            </ng-container>
            <ng-template #semProcessos>
                <div class="no-data-message">
                <img src="assets/imagens/no-data.svg" alt="Sem dados">
                <p>Não há processos cadastrados.</p>
                </div>
            </ng-template>
        </div>

        <div class="paginacao">
            <app-pagination
            [paginaAtual]="paginaAtual"
            [totalItens]="totalItens"
            [itensPorPagina]="itensPorPagina"
            (paginaMudou)="onPaginaMudou($event)">
            </app-pagination>
        </div>  
    </div>
</div>