<div class="main-container">
    <div class="back-title">
        <img src="assets/icones/back-left.svg" alt="Back" class="back-icon" (click)="goBack()">
        <span>Cadastrar colaborador</span>
    </div>
  
    <div class="forms-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="cadastroForm">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" formControlName="nome" class="form-control" placeholder="Digite" required>
            </div>

            <div class="form-group">
                <label for="setor">Setor</label>
                <app-select-padrao
                  label="Selecionar o setor"
                  [options]="setores"
                  [(selectedValue)]="selectedSetor"
                  [customStyles]="{'background': '#FFFFFF'}">
                </app-select-padrao>
            </div>

            <div class="form-group">
                <label for="email">E-mail coorporativo</label>
                <input type="text" id="email" name="email" formControlName="email" class="form-control" placeholder="Digite" required>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" formControlName="password" class="form-control" placeholder="Digite" required>
                </div>
                <div class="form-group">
                    <label for="confirmaSenha">Confirme senha</label>
                    <input type="password" id="confirmaSenha" name="confirmaSenha" formControlName="confirmPassword" class="form-control" placeholder="Digite" required>
                </div>
            </div>

            <div class="container-btn">
                <button type="submit" class="btn-cadastrar">
                    Cadastrar colaborador
                </button>
            </div>
        </form>
    </div>

    <div *ngIf="isLoading">Carregando...</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>