<div class="main-container">
  <div class="header-container">
    <h2>Agenda</h2>
    <div class="header-actions">
      <div class="select-container">
         <app-select-padrao
            label="Agenda"
            [options]="Agenda"
            [(selectedValue)]="selectedAgenda"
            [showDefaultOption]="false">
        </app-select-padrao>
      </div>
      <div class="view-toggle">
        <button
          class="toggle-btn"
          [class.active]="viewMode === 'week'"
          (click)="setView('week')"
        >
          Semana
        </button>
        <button
          class="toggle-btn"
          [class.active]="viewMode === 'month'"
          (click)="setView('month')"
        >
          Mês
        </button>
        <button
          class="toggle-btn"
          [class.active]="viewMode === 'year'"
          (click)="setView('year')"
        >
          Ano
        </button>
      </div>
      <button class="btn btn-primary" (click)="adicionarEvento()">Evento +</button>
    </div>
  </div>

  <div class="subMain-container">
    <!-- VISÃO SEMANAL -->
    <ng-container *ngIf="viewMode === 'week'">
      <app-semanal
        [weekDays]="weekDays"
        [diaSemana]="diaSemana"
        [horasDoDia]="horasDoDia"
        [hoje]="hoje"
        [getEventosNoHorario]="getEventosNoHorario.bind(this)"
        (prevPeriod)="prevPeriod()"
        (nextPeriod)="nextPeriod()"
      ></app-semanal>
    </ng-container>

    <!-- VISÃO MENSAL -->
    <ng-container *ngIf="viewMode === 'month'">
      <app-mensal
        [meses]="meses"
        [diaSemana]="diaSemana"
        [selectedMonth]="selectedMonth"
        [selectedYear]="selectedYear"
        [monthDays]="monthDays"
        [hoje]="hoje"
        [getEventosDoDia]="getEventosDoDia.bind(this)"
        (prevPeriod)="prevPeriod()"
        (nextPeriod)="nextPeriod()"
      ></app-mensal>
    </ng-container>

    <!-- VISÃO ANUAL -->
    <ng-container *ngIf="viewMode === 'year'">
      <app-anual
        [selectedYear]="selectedYear"
        [meses]="meses"
        [diaSemana]="diaSemana"
        [yearMonths]="yearMonths"
        [getMonthMatrix]="getMonthMatrix.bind(this)"
        [hoje]="hoje"
        [getEventosDoDia]="getEventosDoDia.bind(this)"
        (prevPeriod)="prevPeriod()"
        (nextPeriod)="nextPeriod()"
      ></app-anual>
    </ng-container>
  </div>
</div>

<app-feedback></app-feedback>
<app-loading *ngIf="isLoading"></app-loading>

<ng-template #formCadastroTemplate>
    <div class="forms-container">
        <form class="modal-form" [formGroup]="eventoForm">
          <div class="form-group">
              <label for="titulo">Titulo</label>
              <input formControlName="titulo" type="text" placeholder="Insira um titulo para o evento" />
          </div>

            <div class="form-group">
                <label for="data">Data</label>
                <input formControlName="data" type="date" />
            </div>

            <div class="input-duo">
              <div class="form-group">
                  <label for="horaInicio">Hora Início</label>
                  <input formControlName="horaInicio" type="time" />
              </div>
              <div class="form-group">
                  <label for="horaFim">Hora Fim</label>
                  <input formControlName="horaFim" type="time" />
              </div>
            </div>

            <div class="form-group">
                <label for="frequenciaEvento">Frequência do evento</label>
                <app-select-padrao
                  label="Frequência"
                  [options]="frequencia"
                  [(selectedValue)]="selectedFrequencia"
                  [showDefaultOption]="false"
                  formControlName="frequenciaEvento">
                </app-select-padrao>
            </div>

            <div class="input-duo">
              <div class="form-group">
                  <label for="tipo">Tipo</label>
                  <app-select-padrao
                    label="Tipo"
                    [options]="TipoEvento"
                    [(selectedValue)]="selectedTipo"
                    [showDefaultOption]="false"
                    formControlName="tipo">
                  </app-select-padrao>
              </div>
              <div class="form-group">
                  <label for="cor">Cor</label>
                  <input type="hidden" formControlName="cor" />
                    <div class="color-dropdown" (click)="toggleDropdown()">
                      <div class="selected-color-container">
                        <div
                          class="selected-color"
                          [ngStyle]="{ 'background-color': eventoForm.get('cor')?.value }"
                        ></div>
                        <div class="arrow-down" [ngClass]="{ 'icon-rotate': dropdownOpen }">
                          <img src="assets/icones/carret.svg" alt="Arrow down" />
                        </div>
                      </div>
                      <div class="color-options" *ngIf="dropdownOpen">
                        <div
                          *ngFor="let cor of cores"
                          class="color-option"
                          [ngStyle]="{ 'background-color': cor }"
                          [class.selected]="eventoForm.get('cor')?.value === cor"
                          (click)="selecionarCor(cor); $event.stopPropagation()"
                        ></div>
                      </div>
                  </div>
                </div>
            </div>

            <div class="form-group">
                <label>Agenda</label>
                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="pessoal" name="agenda" value="PESSOAL" formControlName="agenda" checked>
                        <label for="pessoal">Agenda (Pessoal)</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="coordenador" name="agenda" value="GERAL" formControlName="agenda">
                        <label for="coordenador">Agenda (Compartilhada)</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
              <label for="participantes">Participantes</label>
              <app-input-participantes
                [colaboradores]="colaboradores"
                [participantes]="eventoForm.get('participantes')?.value"
                (participantesChange)="eventoForm.get('participantes')?.setValue($event)"
                formControlName="participantes"
              ></app-input-participantes>
            </div>

            <div class="form-group">
                <label for="link">Link da reunião</label>
                <input formControlName="link" type="text" placeholder="Insira o link da reunião" />
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea formControlName="descricao" placeholder="Digite uma descrição para o evento" type="text"></textarea>
            </div>
        </form>
    </div>
</ng-template>
