<div class="main-container">
    <div class="title-container">
        <h2>Bem-vindo(a), {{ usuario?.nome }}</h2>
        <div class="select-container">
        <!-- <app-select-padrao
            label="Período"
            [options]="periodos"
            [(selectedValue)]="periodoSelecionado"
            [showDefaultOption]="true"
            [defaultLabel]="'Sem período'"
            [defaultValue]="''"
            [customStyles]="{ 'background-color': '#f8f9fa' }">
        </app-select-padrao> -->
        </div>
    </div>
    <div class="cards-container">
        <div class="cards-moedas">
            <div class="card moeda-card">
                <div class="value">
                    <span>{{ cotacoes.euro | number:'1.2-2' }}</span>
                    <img src="assets/icones/dashboard/euro.svg" alt="moeda euro">
                </div>
                <p>€1,00 EUR = R${{ (cotacoes.euro * 1000) | number:'1.0-0' }} BRL</p>
            </div>
            <div class="card moeda-card">
                <div class="value">
                    <span>{{ cotacoes.dolar | number:'1.2-2' }}</span>
                    <img src="assets/icones/dashboard/dolar.svg" alt="moeda dolar">
                </div>
                <p>$1,00 USD = R${{ (cotacoes.dolar * 1000) | number:'1.0-0' }} BRL</p>
            </div>
            <div class="card moeda-card">
                <div class="value">
                    <span>{{ selic }}%</span>
                    <img src="assets/icones/dashboard/aumento.svg" alt="aumento">
                </div>
                <p>Taxa Selic</p>
            </div>
        </div>

        <div class="cards-setores">
            <div class="card">
                <div class="title">
                    <span>Contábil</span>
                    <img src="assets/icones/dashboard/calculator.svg" alt="calculadora">
                </div>
                <div class="progress">
                    <label>Atividades concluídas</label>
                    <div class="progresso-atividade-container">
                        <div class="progresso-atividade-bar">
                            <div class="progresso-atividade-fill" [style.width.%]="progressoAtividades['contabil'].porcentagem"></div>
                        </div>
                        <p class="progresso-atividade-porcentagem">{{ progressoAtividades['contabil'].porcentagem || 0 }}%</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <span>Fiscal</span>
                    <img src="assets/icones/dashboard/coin.svg" alt="moeda">
                </div>
                <div class="progress">
                    <label>Atividades concluídas</label>
                    <div class="progresso-atividade-container">
                        <div class="progresso-atividade-bar">
                            <div class="progresso-atividade-fill" [style.width.%]="progressoAtividades['fiscal'].porcentagem"></div>
                        </div>
                        <p class="progresso-atividade-porcentagem">{{ progressoAtividades['fiscal'].porcentagem || 0 }}%</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <span>Pessoal</span>
                    <img src="assets/icones/dashboard/duo.svg" alt="dupla de pessoas">
                </div>
                <div class="progress">
                    <label>Atividades concluídas</label>
                    <div class="progresso-atividade-container">
                        <div class="progresso-atividade-bar">
                            <div class="progresso-atividade-fill" [style.width.%]="progressoAtividades['pessoal'].porcentagem"></div>
                        </div>
                        <p class="progresso-atividade-porcentagem">{{ progressoAtividades['pessoal'].porcentagem || 0 }}%</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cards-setores">
            <div class="card">
                <div class="title">
                    <span>Paralegal</span>
                    <img src="assets/icones/dashboard/balanca.svg" alt="balança">
                </div>
                <div class="progress">
                    <label>Atividades concluídas</label>
                    <div class="progresso-atividade-container">
                        <div class="progresso-atividade-bar">
                            <div class="progresso-atividade-fill" [style.width.%]="progressoAtividades['paralegal'].porcentagem"></div>
                        </div>
                        <p class="progresso-atividade-porcentagem">{{ progressoAtividades['paralegal'].porcentagem || 0 }}%</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="title">
                    <span>Financeiro</span>
                    <img src="assets/icones/dashboard/money.svg" alt="dinheiro">
                </div>
                <div class="progress">
                    <label>Atividades concluídas</label>
                    <div class="progresso-atividade-container">
                        <div class="progresso-atividade-bar">
                            <div class="progresso-atividade-fill" [style.width.%]="progressoAtividades['financeiro'].porcentagem"></div>
                        </div>
                        <p class="progresso-atividade-porcentagem">{{ progressoAtividades['financeiro'].porcentagem || 0 }}%</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="cards-infos">
            <div class="card">
            <div class="qtd">
                <span>{{ totalColaboradores }}</span>
                <img src="assets/icones/dashboard/trio.svg" alt="pessoas" />
            </div>
            <p>Colaboradores</p>
            </div>
            <div class="card">
            <div class="qtd">
                <span>{{ totalEmpresas }}</span>
                <img src="assets/icones/dashboard/predios.svg" alt="predios" />
            </div>
            <p>Empresas</p>
            </div>
            <div class="card">
            <div class="qtd">
                <span>{{ totalAtividadesNaoAtribuidas }}</span>
                <img src="assets/icones/dashboard/people-minus.svg" alt="pessoa" />
            </div>
            <p>Tarefas não atribuídas</p>
            </div>
        </div>
    </div>

    <div class="graficos-container">
        <div id="contabil">
             <div class="title-grafico">
                <h3>
                    Atividades do Setor Contábil
                </h3>
                <div class="select-container">
                    <app-select-padrao
                        label="Período"
                        [options]="periodos"
                        [(selectedValue)]="periodoSelecionadoSetor['CONTABIL']"
                        (selectedValueChange)="onPeriodoChangeSetor('CONTABIL', $event)"
                        [showDefaultOption]="true"
                        [defaultLabel]="'Sem período'"
                        [defaultValue]="''"
                        [customStyles]="{ 'background-color': '#f8f9fa' }">
                    </app-select-padrao>
                </div>
            </div>
            <div class="duo-container">
                <app-grafico-barra-horizontal
                [series]="getGraficoAbertas('CONTABIL').series"
                [categories]="getGraficoAbertas('CONTABIL').categories"
                [colors]="['#FEB019']"
                title="Abertas">
                </app-grafico-barra-horizontal>
                <app-grafico-barra-horizontal
                [series]="getGraficoConcluidas('CONTABIL').series"
                [categories]="getGraficoConcluidas('CONTABIL').categories"
                [colors]="['#1fde82']"
                title="Concluidas">
                </app-grafico-barra-horizontal>
            </div>
        </div>
        <div id="fiscal">
            <div class="title-grafico">
                <h3> 
                    Atividades do Setor Fiscal
                </h3>
                <div class="select-container">
                    <app-select-padrao
                        label="Período"
                        [options]="periodos"
                        [(selectedValue)]="periodoSelecionadoSetor['FISCAL']"
                        (selectedValueChange)="onPeriodoChangeSetor('FISCAL', $event)"
                        [showDefaultOption]="true"
                        [defaultLabel]="'Sem período'"
                        [defaultValue]="''"
                        [customStyles]="{ 'background-color': '#f8f9fa' }">
                    </app-select-padrao>
                </div>
            </div>
            <div class="duo-container">
                <app-grafico-barra-horizontal
                [series]="getGraficoAbertas('FISCAL').series"
                [categories]="getGraficoAbertas('FISCAL').categories"
                [colors]="['#FEB019']"
                title="Abertas">
                </app-grafico-barra-horizontal>
                <app-grafico-barra-horizontal
                [series]="getGraficoConcluidas('FISCAL').series"
                [categories]="getGraficoConcluidas('FISCAL').categories"
                [colors]="['#1fde82']"
                title="Concluidas">
                </app-grafico-barra-horizontal>
            </div>
        </div>
        <div id="pessoal">
             <div class="title-grafico">
                <h3> 
                    Atividades do Setor Pessoal
                </h3>
                <div class="select-container">
                    <app-select-padrao
                        label="Período"
                        [options]="periodos"
                        [(selectedValue)]="periodoSelecionadoSetor['PESSOAL']"
                        (selectedValueChange)="onPeriodoChangeSetor('PESSOAL', $event)"
                        [showDefaultOption]="true"
                        [defaultLabel]="'Sem período'"
                        [defaultValue]="''"
                        [customStyles]="{ 'background-color': '#f8f9fa' }">
                    </app-select-padrao>
                </div>
            </div>
            <div class="duo-container">
                <app-grafico-barra-horizontal
                [series]="getGraficoAbertas('PESSOAL').series"
                [categories]="getGraficoAbertas('PESSOAL').categories"
                [colors]="['#FEB019']"
                title="Abertas">
                </app-grafico-barra-horizontal>
                <app-grafico-barra-horizontal
                [series]="getGraficoConcluidas('PESSOAL').series"
                [categories]="getGraficoConcluidas('PESSOAL').categories"
                [colors]="['#1fde82']"
                title="Concluidas">
                </app-grafico-barra-horizontal>
            </div>
        </div>
        <div id="paralegal">
             <div class="title-grafico">
                <h3> 
                    Atividades do Setor Paralegal
                </h3>
                <div class="select-container">
                    <app-select-padrao
                        label="Período"
                        [options]="periodos"
                        [(selectedValue)]="periodoSelecionadoSetor['PARALEGAL']"
                        (selectedValueChange)="onPeriodoChangeSetor('PARALEGAL', $event)"
                        [showDefaultOption]="true"
                        [defaultLabel]="'Sem período'"
                        [defaultValue]="''"
                        [customStyles]="{ 'background-color': '#f8f9fa' }">
                    </app-select-padrao>
                </div>
            </div>
            <div class="duo-container">
                <app-grafico-barra-horizontal
                [series]="getGraficoAbertas('PARALEGAL').series"
                [categories]="getGraficoAbertas('PARALEGAL').categories"
                [colors]="['#FEB019']"
                title="Abertas">
                </app-grafico-barra-horizontal>
                <app-grafico-barra-horizontal
                [series]="getGraficoConcluidas('PARALEGAL').series"
                [categories]="getGraficoConcluidas('PARALEGAL').categories"
                [colors]="['#1fde82']"
                title="Concluidas">
                </app-grafico-barra-horizontal>
            </div>
        </div>
        <div id="financeiro">
             <div class="title-grafico">
                <h3> 
                    Atividades do Setor Financeiro
                </h3>
                <div class="select-container">
                    <app-select-padrao
                        label="Período"
                        [options]="periodos"
                        [(selectedValue)]="periodoSelecionadoSetor['FINANCEIRO']"
                        (selectedValueChange)="onPeriodoChangeSetor('FINANCEIRO', $event)"
                        [showDefaultOption]="true"
                        [defaultLabel]="'Sem período'"
                        [defaultValue]="''"
                        [customStyles]="{ 'background-color': '#f8f9fa' }">
                    </app-select-padrao>
                </div>
            </div>
            <div class="duo-container">
                <app-grafico-barra-horizontal
                [series]="getGraficoAbertas('FINANCEIRO').series"
                [categories]="getGraficoAbertas('FINANCEIRO').categories"
                [colors]="['#FEB019']"
                title="Abertas">
                </app-grafico-barra-horizontal>
                <app-grafico-barra-horizontal
                [series]="getGraficoConcluidas('FINANCEIRO').series"
                [categories]="getGraficoConcluidas('FINANCEIRO').categories"
                [colors]="['#1fde82']"
                title="Concluidas">
                </app-grafico-barra-horizontal>
            </div>
        </div>

        <div id="geral">
            <div class="title-grafico">
                <h3> 
                    Dados gerais
                </h3>
                <div class="select-container">
                    <app-select-padrao
                        label="Período"
                        [options]="periodos"
                        [showDefaultOption]="true"
                        [defaultLabel]="'Sem período'"
                        [defaultValue]="''"
                        [customStyles]="{ 'background-color': '#f8f9fa' }">
                    </app-select-padrao>
                </div>
            </div>

            <app-grafico-linha
                [series]="graficoAtividadesMensais.series"
                [categories]="graficoAtividadesMensais.categories"
                [colors]="['#5EA828']"
                title="Atividades concluídas por mês"
                totalLabel="Total"
                [showTotal]="true"
                [subtitle]="'Total: ' + totalAtividadesAno">
            </app-grafico-linha>
        </div>

        <div class="duo-container">
            <app-grafico-barra-vertical
                [series]="graficoFuncionarios.series"
                [categories]="graficoFuncionarios.categories"
                [colors]="graficoFuncionarios.colors"
                title="Funcionários por setor">
            </app-grafico-barra-vertical>
            <app-grafico-rosquinha
                [series]="graficoEmpresasRegime.series"
                [labels]="graficoEmpresasRegime.labels"
                colorPalette="palette2"
                title="Regimes das empresas"
                [height]="400"
                donutSize="70%"
                legendPosition="right"
                [showLegend]="true">
            </app-grafico-rosquinha>
        </div>
    </div>
</div>