<div class="main-container">
    <div class="back-title">
        <img src="assets/icones/back-left.svg" alt="Back" class="back-icon" (click)="goBack()">
        <span>{{ isEditMode ? 'Editar processo' : 'Cadastrar processo' }}</span>
    </div>
  
    <div class="forms-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="processoForm">
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" formControlName="nome" class="form-control" placeholder="Digite" required>
            </div>

            <div class="form-group">
                <label for="setor">Setor</label>
                <app-select-padrao
                  label="Selecionar o setor"
                  [options]="setores"
                  [(selectedValue)]="selectedSetor"
                  formControlName="setor">
                </app-select-padrao>
            </div>

            <div class="form-group">
                <label>Tipo de processo</label>
                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="fixo" name="tipoDeProcesso" value="Fixo" formControlName="tipoDeProcesso" checked>
                        <label for="fixo">Fixo</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="variavel" name="tipoDeProcesso" value="Variável" formControlName="tipoDeProcesso">
                        <label for="variavel">Variável</label>
                    </div>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="dependeDeOutroSetor">Depende de outro setor?</label>
                    <app-select-padrao
                      label="Selecionar"
                      formControlName="dependeDeOutroSetor"
                      [options]="escolhas"
                      [(selectedValue)]="selectedDependeDeOutroSetor">
                    </app-select-padrao>
                </div>

                <div class="form-group">
                    <label for="setorDeDependencia">Setor de dependência</label>
                    <app-select-padrao
                      label="Selecionar o setor"
                      formControlName="setorDeDependencia"
                      [options]="setores"
                      [(selectedValue)]="selectedSetorDeDependencia">
                    </app-select-padrao>
                </div>
            </div>

            <div class="divisao">
                <p>Lista de subprocessos</p>
                <hr class="line">
            </div>

            <div class="form-group">
                <app-input-plus 
                    [(items)]="subprocessos"
                    [initialCount]="1"
                    formControlName="subprocessos">
                </app-input-plus>
            </div>

            <div class="container-btn">
                <button type="submit" class="btn-cadastrar">
                    {{ isEditMode ? 'Atualizar processo' : 'Cadastrar processo' }}
                </button>
            </div>
        </form>
    </div>

    <div class="alerts">
        <div class="alerts-container alert-success" *ngIf="successMessage">
          {{ successMessage }}
        </div>
        <div class=" alerts-container alert-danger" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
    </div>

    <app-loading *ngIf="isLoading"></app-loading>
</div>