<div class="main-container">
  <div class="header-container">
    <div class="back-title">
      <img
        src="assets/icones/back-left.svg"
        alt="Back"
        class="back-icon"
        (click)="goBack()"
      />
      <span>Meu Perfil</span>
    </div>
    <div class="toggle-container">
      <span>{{ themeService.isDarkMode() ? "Modo Escuro" : "Modo Claro" }}</span>
      <label class="switch">
        <input type="checkbox" [checked]="themeService.isDarkMode()" (change)="toggleDarkMode()"/>
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <div class="container-perfil">
    <div class="profile-attributes">
      <div class="container-photo">
        <div class="image-container" (click)="isEditing && fileInput.click()">
          <img [src]="selectedImageUrl || defaultImageUrl" class="profile-photo" alt="Foto de perfil"/>
          <input #fileInput type="file" accept="image/*" (change)="onImageSelected($event)" style="display: none;"/>
        </div>
        <!-- Botão para alterar foto de perfil visível no modo edição -->
        <div *ngIf="isEditing" class="edit-profile-photo">
          <button (click)="fileInput.click()">Alterar foto</button>
        </div>
      </div>
      <div *ngIf="!isEditing" class="profile-name">
        <h4>Haroldo Andrade</h4>
        <span>Diretoria</span>
      </div>
    </div>
    <div class="data-profile">
      <div *ngIf="isEditing" class="data-item">
        <label>Nome:</label>
        <input [(ngModel)]="user.name" type="email">
      </div>
      <div class="data-item">
        <label>E-mail:</label>
        <span *ngIf="!isEditing">{{ user.email }}</span>
        <input *ngIf="isEditing" [(ngModel)]="user.email" type="email">
      </div>
    </div>
  </div>
  <div class="container-btn">
    <button *ngIf="!isEditing" class="btn btn-edit" (click)="toggleEdit()">Editar Perfil</button>
    <button *ngIf="!isEditing" class="btn btn-line">Alterar senha</button>
    <button *ngIf="isEditing" class="btn btn-line" (click)="cancelEdit()">Cancelar</button>
    <button *ngIf="isEditing" class="btn" (click)="saveChanges()">Salvar</button>
  </div>
</div>
