<div class="main-container">
    <div class="back-title">
        <img src="assets/icones/back-left.svg" alt="Back" class="back-icon" (click)="goBack()">
        <span>{{ isEditMode ? 'Editar atividade' : 'Cadastrar atividade' }}</span>
    </div>
  
    <div class="forms-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="atividadeForm">
            <div class="form-group">
                <label for="setor">Setor</label>
                <app-select-padrao
                    label="Selecionar o setor"
                    [options]="setores"
                    [(selectedValue)]="selectedSetor"
                    formControlName="setor"
                    (selectedValueChange)="onSetorChange($event)">
                </app-select-padrao>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="possuiProcesso">Possui processo?</label>
                    <app-select-padrao
                      label="Selecionar escolha"
                      [options]="escolha"
                      [(selectedValue)]="selectedPossuiProcesso"
                      formControlName="possuiProcesso"
                      (selectedValueChange)="onDependenciaChange('possuiProcesso', 'idProcesso', $event)">
                    </app-select-padrao>
                </div>
                <div class="form-group">
                    <label for="idProcesso">Processo</label>
                    <app-select-padrao
                    label="Selecionar o processo"
                    [options]="processos"
                    [(selectedValue)]="selectedProcesso"
                    formControlName="idProcesso"
                    [disabled]="atividadeForm.get('idProcesso')?.disabled == true"
                    (selectedValueChange)="onProcessoSelecionado($event)">
                    </app-select-padrao>
                </div>
            </div>

            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome" formControlName="nome" class="form-control" placeholder="Digite o nome da atividade" required>
            </div>

            <div class="form-group">
                <label for="descricao">Descrição</label>
                <textarea type="text" id="descricao" name="descricao" formControlName="descricao" class="form-control" placeholder="Digite a descrição da atividade" rows="6"></textarea>
            </div>

            <div class="form-group" *ngIf="!isEditMode">
                <label for="idEmpresas">Empresas</label>
                <app-multiplo-select
                  label="Selecionar empresas"
                  [options]="empresas"
                  [(selectedValue)]="selectedEmpresas"
                  [multiple]="true"
                  formControlName="idEmpresas"
                  (selectedValueChange)="onEmpresasChange($event)">
                </app-multiplo-select>
            </div>

            <div class="form-group" *ngIf="isEditMode">
                <label for="idEmpresas">Empresa</label>
                <app-select-padrao
                    label="Selecionar empresa"
                    [options]="empresa"
                    [(selectedValue)]="selectedEmpresa"
                    formControlName="idEmpresas"
                    (selectedValueChange)="onEmpresaChange($event)">
                </app-select-padrao>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="possuiMulta">Possui multa?</label>
                    <app-select-padrao
                      label="Selecionar escolha"
                      [options]="escolha"
                      [(selectedValue)]="selectedPossuiMulta"
                      formControlName="possuiMulta"
                      (selectedValueChange)="onDependenciaChange('possuiMulta', 'multas', $event)">
                    </app-select-padrao>
                </div>
                <div class="form-group">
                    <label for="multas">Multa</label>
                    <app-multiplo-select
                      label="Selecionar uma multa"
                      [options]="multas"
                      [(selectedValue)]="selectedMulta"
                      (selectedValueChange)="onMultaChange($event)"
                      [multiple]="true"
                      formControlName="multas"
                      [disabled]="atividadeForm.get('multa')?.disabled == true">
                    </app-multiplo-select>
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                  <label for="dataDeInicio">Data de início</label>
                  <input type="date" id="dataDeInicio" name="dataDeInicio" formControlName="dataDeInicio" class="form-control">
                </div>

                <div class="form-group">
                  <label for="dateDaEntrega">Data da entrega</label>
                  <input type="date" id="dateDaEntrega" name="dateDaEntrega" formControlName="dateDaEntrega" class="form-control">
                </div>
            </div>

            <div class="input-duo">
                <div class="form-group">
                    <label for="prioridade">Prioridade</label>
                    <app-select-padrao
                      label="Selecionar a prioridade"
                      [options]="prioridades"
                      [(selectedValue)]="selectedPrioridade"
                      formControlName="prioridade">
                    </app-select-padrao>
                </div>
                <div class="form-group">
                    <label for="status">Status</label>
                    <app-select-padrao
                      label="Selecionar o status"
                      [options]="status"
                      [(selectedValue)]="selectedStatus"
                      formControlName="status">
                    </app-select-padrao>
                </div>
            </div>

            <div class="form-group">
                <label for="idsUsuario">Membros</label>
                <app-multiplo-select
                  label="Selecionar membro"
                  [options]="membros"
                  [(selectedValue)]="selectedMembro"
                  [multiple]="true"
                  formControlName="idsUsuario"
                  (selectedValueChange)="onMembrosChange($event)">
                </app-multiplo-select>
            </div>

            <div class="divisao">
                <p>Lista de tarefas</p>
                <hr class="line">
            </div>

            <div class="form-group">
                <app-input-plus 
                    [(items)]="tarefas"
                    [initialCount]="1"
                    formControlName="subtarefas">
                </app-input-plus>
            </div>

            <div class="container-btn">
                <button type="submit" class="btn-cadastrar">
                    {{ isEditMode ? 'Atualizar atividade' : 'Cadastrar atividade' }}
                </button>
            </div>
        </form>
    </div>

    <div class="alerts">
        <div class="alerts-container alert-success" *ngIf="successMessage">
          {{ successMessage }}
        </div>
        <div class=" alerts-container alert-danger" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
    </div>

    <app-loading *ngIf="isLoading"></app-loading>
</div>