<div class="filtro-container">
  <!-- Botões de ação -->
  <div class="filtro-barra">
    <button class="filtro-btn" (click)="toggleMenu()">
        <img src="assets/icones/filter.svg" alt="Ícone de filtro" />
      Filtros 
      <span *ngIf="filtrosAtivos() && contarFiltros() > 0" class="filtro-count-badge">
        <span class="filtro-bolinha"></span>
        {{ contarFiltros() }}
    </span>
    </button>
    <button *ngIf="filtrosAtivos() && contarFiltros() > 0" class="limpar-btn" (click)="limparFiltro()">
        Limpar tudo
    </button>
  </div>

  <!-- Menu suspenso -->
  <div class="filtro-menu" *ngIf="menuAberto">
    <div class="filtro-menu-header">
      <h3>Filtro</h3>
      <button class="fechar-btn" (click)="toggleMenu()" aria-label="Fechar filtro">&times;</button>
    </div>
    <hr class="filtro-menu-divider" />

    <!-- Filtro de empresa -->
    <div class="filtro-grupo">
      <label class="grupo-titulo">Empresa</label>
      <app-select-auto-complete
          placeholder="Buscar empresas..."
          [options]="empresasOptions"
          [maxItems]="1"
          (itemAdded)="onEmpresaSelecionada(empresasSelecionadas)"
          (itemRemoved)="onEmpresaSelecionada(empresasSelecionadas)"
          [(ngModel)]="empresasSelecionadas"
          [multiple]="false">
        </app-select-auto-complete>
    </div>

    <!-- Filtro de membros -->
    <div class="filtro-grupo">
      <label class="grupo-titulo">Membros</label>
      <label>
        <input type="checkbox" [(ngModel)]="filtro['semMembros']" (change)="emitirFiltro()" />
        Sem membros
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="filtro['atribuidoAMim']" (change)="emitirFiltro()" />
        Atribuídas a mim
      </label>
    </div>

    <!-- Filtro de setores -->
    <div class="filtro-grupo">
      <label class="grupo-titulo">Setor</label>
      <ng-container *ngFor="let setor of setores">
        <label>
           <input
            type="checkbox"
            [checked]="isSetorSelecionado(setor)"
            (change)="onSetorCheckboxChange($event, setor)"
          />
          {{ getSetorDescricao(setor) }}
        </label>
      </ng-container>
    </div>

    <!-- Filtro de status -->
    <div class="filtro-grupo">
      <label class="grupo-titulo">Status</label>
      <label>
        <input type="checkbox" [(ngModel)]="filtro['marcado']" (change)="emitirFiltro()" />
        Marcado como concluído
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="filtro['naoMarcado']" (change)="emitirFiltro()" />
        Não marcado como concluído
      </label>
    </div>

    <!-- Filtro por período -->
    <div class="filtro-grupo">
      <label class="grupo-titulo">Período</label>
      <label>
        <input type="radio" name="periodo" [(ngModel)]="filtro['periodo']" value="7" (change)="emitirFiltro()" />
        Últimos 7 dias
      </label>
      <label>
        <input type="radio" name="periodo" [(ngModel)]="filtro['periodo']" value="15" (change)="emitirFiltro()" />
        Últimos 15 dias
      </label>
      <label>
        <input type="radio" name="periodo" [(ngModel)]="filtro['periodo']" value="30" (change)="emitirFiltro()" />
        Últimos 30 dias
      </label>
      <label>
        <input type="radio" name="periodo" [(ngModel)]="filtro['periodo']" value="90" (change)="emitirFiltro()" />
        Últimos 90 dias
      </label>
    </div>
  </div>
</div>
