<div class="main-container">
    <div class="title-container">
        <h2>Bem-vindo(a), {{ usuario?.nome }}</h2>
    </div>
    <div class="cards-container">
        <div class="cards-moedas">
            <div class="card moeda-card">
                <div class="value">
                    <span>{{ cotacoes.euro | number:'1.2-2' }}</span>
                    <img src="assets/icones/dashboard/euro.svg" alt="moeda euro">
                </div>
                <p>€1,00 EUR = R${{ (cotacoes.euro * 1000) | number:'1.0-0' }} BRL</p>
            </div>
            <div class="card moeda-card">
                <div class="value">
                    <span>{{ cotacoes.dolar | number:'1.2-2' }}</span>
                    <img src="assets/icones/dashboard/dolar.svg" alt="moeda dolar">
                </div>
                <p>$1,00 USD = R${{ (cotacoes.dolar * 1000) | number:'1.0-0' }} BRL</p>
            </div>
            <div class="card moeda-card">
                <div class="value">
                    <span>{{ selic }}%</span>
                    <img src="assets/icones/dashboard/aumento.svg" alt="aumento">
                </div>
                <p>Taxa Selic</p>
            </div>
        </div>
    </div>
</div>