.main-container {
  margin: 120px 32px 24px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-container h2 {
  font-size: 24px;
  color: var(--lm-text);
}

.cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.cards-moedas,
.cards-setores,
.cards-infos {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 120px;
  padding: 24px;
  background: var(--container-background);
  border-radius: 8px;
  border: var(--lm-border03) 1px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.101);
  gap: 8px;
}

.moeda-card {
  background: #283c8a;
}

.moeda-card span {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
}

.moeda-card p {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
}

.value,
.title,
.qtd {
  display: flex;
  justify-content: space-between;
}

.card img {
  width: 28px;
  height: 28px;
}

.cards-setores span {
  color: #08195d;
  font-size: 28px;
  font-weight: 500;
}

.cards-setores label {
  color: var(--lm-text);
  font-size: 12px;
}

.cards-infos span {
  color: #08195d;
  font-size: 28px;
  font-weight: 500;
}

.cards-infos p {
  color: var(--lm-text);
  font-size: 14px;
  margin: 0;
}

/* progresso nas atividades  */
.progress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-top: 16px;
}

.progresso-atividade-container {
  display: flex;
  align-items: center;
  padding-top: 8px;
  width: 100%;
}

.progresso-atividade-bar {
  width: 100%;
  height: 10px;
  background: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

.progresso-atividade-fill {
  height: 100%;
  background: #5ea828;
  transition: width 0.3s;
}

.progresso-atividade-container p {
  min-width: 32px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  color: var(--lm-text);
  margin: 0;
  padding: 0;
}

/* graficos */
.graficos-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.duo-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.title-grafico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.title-grafico h3 {
  font-size: 18px;
  color: var(--lm-text);
  font-weight: 500;
}

.select-container {
  width: 250px;
}

.grafico {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 120px;
  padding: 24px;
  background: var(--container-background);
  border-radius: 8px;
  border: var(--lm-border03) 1px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.101);
}

@media screen and (max-width: 720px) {
  .main-container {
    margin: 100px 24px 16px;
  }

  .cards-moedas,
  .cards-setores,
  .cards-infos {
    flex-direction: column;
  }

  .duo-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 1024px) {
  .cards-setores {
    display: flex;
    flex-direction: column;
  }
}
