<div class="modal-geral" role="dialog" [attr.aria-labelledby]="atividade?.nome">
  <div class="modal-bg" (click)="onModalClose()"></div>
  <div class="modal-wrapper">
    <div class="modal-container">
      <div class="modal-box" [ngClass]="size">
        <div class="bg-white pb-4 sm:p-6 sm:pb-4 custom-pad">
          <ng-container>
            <div class="modal-conteudo">
              <div class="modal-header">
                <h2>{{ atividade?.nome }}</h2>
                <button
                  class="modal-close-btn"
                  (click)="onModalClose()"
                  aria-label="Fechar"
                >
                  &times;
                </button>
              </div>
              <hr class="modal-divider" />

              <div class="modal-body-grid">
                <div class="modal-detalhes">
                  <div class="item-modal">
                    <label>Descrição</label>
                    <p>{{ atividade?.descricao }}</p>
                  </div>
                  <div class="item-modal">
                    <label>Empresa</label>
                    <p>{{ atividade?.empresa?.razaoSocial }}</p>
                  </div>
                  <div class="item-modal">
                    <label>Setor</label>
                    <app-setor-tag [setor]="atividade?.setor"></app-setor-tag>
                  </div>
                  <div class="item-modal">
                    <label>Processo</label>
                    <p>
                      {{ atividade?.processo?.nome || atividade?.idProcesso }}
                    </p>
                  </div>

                  <div class="item-modal">
                    <div class="item-modal-duo">
                      <div class="item-modal">
                        <label>Data de início</label>
                        <p>
                          {{ atividade?.dataDeInicio | date : "dd/MM/yyyy" }}
                        </p>
                      </div>
                      <div class="item-modal">
                        <label>Data de entrega</label>
                        <p>
                          {{ atividade?.dateDaEntrega | date : "dd/MM/yyyy" }}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="item-modal">
                    <div class="item-modal-duo">
                      <div class="item-modal">
                        <label>Status</label>
                        <p>{{ getDescricaoStatus(atividade?.status) }}</p>
                      </div>
                      <div class="item-modal tags">
                        <label>Prioridade</label>
                        <span
                          class="priority-tag"
                          [ngClass]="getPriorityClass()"
                          >{{ atividade?.prioridade }}</span
                        >
                      </div>
                    </div>
                  </div>

                  <div class="item-modal">
                    <label>Multas</label>
                    <div class="multas-tags-container">
                      <span
                        *ngFor="let multa of atividade?.multas"
                        class="multa-tag"
                      >
                        {{ getDescricaoMulta(multa.tipo) }}
                      </span>
                      <span
                        *ngIf="!atividade?.multas?.length"
                        class="multa-tag multa-tag-vazia"
                      >
                        Nenhuma multa aplicada
                      </span>
                    </div>
                  </div>

                  <div class="item-modal">
                    <label>Membros</label>
                    <div class="usuarios-fotos">
                      <ng-container *ngIf="atividade?.usuarios && atividade.usuarios.length > 0; else nenhumMembro">
                        <ng-container *ngFor="let usuario of atividade.usuarios">
                          <ng-container *ngIf="usuario.fotoUrl; else inicial">
                            <img
                              [src]="usuario.fotoUrl"
                              [alt]="usuario.nome"
                              class="usuario-foto"
                              title="{{ usuario.nome }}"
                            />
                          </ng-container>
                          <ng-template #inicial>
                            <span
                              class="usuario-inicial"
                              [ngStyle]="{
                                'background-color': getRandomColor(usuario.nome)
                              }"
                              [title]="usuario.nome"
                            >
                              {{ getInitial(usuario.nome) }}
                            </span>
                          </ng-template>
                        </ng-container>
                      </ng-container>
                      <ng-template #nenhumMembro>
                        <span style="color: #aaa;">-</span>
                      </ng-template>
                    </div>
                  </div>

                  <div class="item-modal">
                    <label>Tarefas</label>
                     <div class="progress-bar-container" *ngIf="atividade?.subtarefas?.length">
                      <div class="progress-bar-bg">
                        <div
                          class="progress-bar-fill"
                          [style.width.%]="getChecklistPercent(atividade.subtarefas)"
                        ></div>
                      </div>
                      <span class="progress-bar-text">
                        {{ getChecklistPercent(atividade.subtarefas) }}%
                      </span>
                    </div>
                    <div *ngIf="atividade?.subtarefas?.length; else semSubtarefas">
                      <div class="subtarefa-item" *ngFor="let subtarefa of atividade.subtarefas; let i = index">
                        <input
                          type="checkbox"
                          [checked]="subtarefa.checked"
                          (change)="onSubtarefaToggle(i, $event)"
                          id="subtarefa-{{ subtarefa.id }}"
                        />
                        <label for="subtarefa-{{ subtarefa.id }}">
                          {{ subtarefa.tarefa }}
                        </label>
                      </div>
                    </div>
                    <ng-template #semSubtarefas>
                      <span class="multa-tag multa-tag-vazia"
                        >Nenhuma subtarefa</span
                      >
                    </ng-template>
                  </div>
                </div>

                <div class="menu-acao">
                  <button
                    class="btn btn-delete"
                  >
                    Copiar
                  </button>
                  <button
                    class="btn btn-delete"
                    (click)="DeletarAtividade(atividade.id)"
                  >
                    Arquivar
                  </button>
                  <button
                    class="btn btn-edit"
                    (click)="EditarAtividade(atividade.id)"
                  >
                    Editar
                  </button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
