<div class="main-container">
    <div class="header-container">
        <h2>Scanner</h2>
        <button class="btn btn-historico">Histórico de movimentação</button>
    </div>

    <div class="sub-container">
        <form [formGroup]="scannerForm" class="container-inputs">
            <div class="form-group">
                <label class="input-label">Arquivos corretos</label>
                <app-input-arquivos
                inputId="input-arquivos-corretos"
                [multiple]="true"
                [label]="'Clique ou arraste o arquivo CSV/XLS/XLSX para fazer upload'"
                [accept]="'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,text/csv'"
                layout="list"
                [showList]="false"
                formControlName="documentoCorreto">
                </app-input-arquivos>
            </div>

            <div class="form-group">
                <label class="input-label">Arquivos errados</label>
                <app-input-arquivos
                inputId="input-arquivos-errados"
                [label]="'Clique ou arraste os arquivos CSV/XLS/XLSX para fazer upload'"
                [accept]="'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,text/csv'"
                [multiple]="true"
                layout="list"
                [showList]="false"
                formControlName="documentoIncorreto">
                </app-input-arquivos>
            </div>
        </form>

        <div class="acoes">
            <button class="btn btn-reset" (click)="limparArquivos()">Limpar dados</button>
            <button class="btn btn-secondary" (click)="inverterArquivos()">Inverter arquivos</button>
            <button class="btn btn-primary">Processar arquivos</button>
        </div>
    </div>

    <div class="sub-container">
        <div class="container-lista-arquivos">
            <div class="container-arquivos" *ngIf="documentoCorretoArquivos.length > 0">
                <span>Arquivos corretos</span>
                <div class="list-group">
                    <div class="list-group-item" *ngFor="let arquivo of documentoCorretoArquivos; let i = index">
                        {{ arquivo.name }}
                        <button type="button" class="btn btn-delete" (click)="removerArquivoCorreto(i)">
                        Remover
                        </button>
                    </div>
                </div>
            </div>
            <div class="container-arquivos" *ngIf="documentoIncorretoArquivos.length > 0">
                <span>Arquivos errados</span>
                <div class="list-group">
                    <div class="list-group-item" *ngFor="let arquivo of documentoIncorretoArquivos; let i = index">
                        {{ arquivo.name }}
                        <button type="button" class="btn btn-delete" (click)="removerArquivoIncorreto(i)">
                        Remover
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>