.main-container {
  margin: 120px 32px 24px;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.btn-historico {
  background: #273e74;
}

.btn-historico:hover {
  background: #172973;
}

.header-container h2 {
  font-size: 24px;
  color: var(--lm-text);
  margin: 0;
}
.sub-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
  width: 100%;
  background: var(--container-background);
  border-radius: 8px;
  min-height: 48px;
  padding: 24px;
}

.container-inputs {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-label {
  font-size: 16px;
  font-weight: 400;
  color: var(--lm-text02);
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}

.acoes {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.btn-primary {
  width: 100%;
}

.btn-secondary {
  width: 100%;
  background: #273e74;
}

.btn-secondary:hover {
  background: #1e2f59;
}

.btn-reset {
  width: 100%;
  background: #a5a5a5;
}

.btn-reset:hover {
  background: #8e8e8e;
}

/* arquivos visualização */
.container-lista-arquivos {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.container-arquivos {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #16223f5d;
  border-radius: 8px;
  padding: 16px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  margin-top: 8px;
}

.btn-delete {
  margin-left: 10px;
  background: var(--danger);
}

/* Breakpoints */
@media (min-width: 1200px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 40px 16px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 40px 16px;
  }
}

@media (max-width: 767px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 20px 0;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    width: 100%;
  }

  .container-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
