<div *ngIf="permissaoUsuario === 'Administrador' || permissaoUsuario === 'Coordenador' || permissaoUsuario === 'Estagiario'">
    <div class="main-container">
        <div class="back-title">
        <img
            src="assets/icones/back-left.svg"
            alt="Back"
            class="back-icon"
            (click)="goBack()"
        />
        <span>
            {{ isEditMode ? "Editar periférico" : "Cadastrar periférico" }}
        </span>
        </div>

        <div class="forms-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="perifericoForm">

            <div class="form-group">
                <label for="foto">Foto do produto</label>
                <app-input-imagens label="Clique ou arraste a foto para fazer upload" inputId="foto" (imageSelected)="onImageSelected($event, 'foto')" [fotoPreview]="fotoPreview"></app-input-imagens>
            </div>

            <div class="form-group">
            <label for="nome">Nome</label>
            <input
                type="text"
                id="nome"
                name="nome"
                formControlName="nome"
                class="form-control"
                placeholder="Digite o nome do produto"
                required
            />
            </div>

            <div class="form-group">
            <label for="descricaoProduto">Descrição do produto</label>
            <textarea
                type="text"
                id="descricaoProduto"
                name="descricaoProduto"
                formControlName="descricaoProduto"
                class="form-control"
                placeholder="Digite uma descrição para o produto"
                rows="6"
            ></textarea>
            </div>

            <div class="form-group">
                <label for="estacao">Estação</label>
                <app-select-padrao
                    label="Selecionar a estação"
                    [options]="setores"
                    [(selectedValue)]="selectedSetor"
                    formControlName="estacao">
                </app-select-padrao>
            </div>

            <div class="form-group">
                <label for="idColaborador">Colaborador</label>
                <app-select-padrao
                    label="Selecionar o colaborador"
                    [options]="usuarios"
                    [(selectedValue)]="selectedUsuario"
                    formControlName="idColaborador">
                </app-select-padrao>
            </div>

            <div class="form-group">
                <label>Tipo de Posse</label>
                <div class="radio-group">
                    <div class="radio-item">
                        <input type="radio" id="proprioEmpresa" name="tipoPosse" value="PROPRIO_EMPRESA" formControlName="tipoPosse" checked>
                        <label for="proprioEmpresa">Próprio da Empresa</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="alugado" name="tipoPosse" value="ALUGADO" formControlName="tipoPosse">
                        <label for="alugado">Alugado</label>
                    </div>
                </div>
            </div>

            <div class="input-duo">
            <div class="form-group">
                <label for="dataEntregada">Data da entrega</label>
                <input
                type="date"
                id="dataEntrega"
                name="dataEntrega"
                formControlName="dataEntrega"
                class="form-control"
                />
            </div>

            <div class="form-group">
                <label for="dataDevolucao">Data da devolução</label>
                <input
                type="date"
                id="dataDevolucao"
                name="dataDevolucao"
                formControlName="dataDevolucao"
                class="form-control"
                />
            </div>
            </div>

            <div class="form-group">
            <label for="anotacao">Anotações</label>
            <textarea
                type="text"
                id="anotacao"
                name="anotacao"
                formControlName="anotacao"
                class="form-control"
                placeholder="Digite as anotações sobre o periférico"
                rows="6"
            ></textarea>
            </div>

            <div class="alerts">
                <div class="alert-two alert-success" *ngIf="successMessage">
                    {{ successMessage }}
                </div>
                <div class="alert-two alert-danger" *ngIf="errorMessage">
                    {{ errorMessage }}
                </div>
            </div>

            <div class="container-btn">
            <button type="submit" class="btn-cadastrar">
                {{ isEditMode ? "Atualizar periférico" : "Cadastrar periférico" }}
            </button>
            </div>
        </form>
        </div>

        <app-loading *ngIf="isLoading"></app-loading>
    </div>
</div>
