<div class="main-container">
  <div class="header-container">
    <h2>Atividades</h2>
    <button class="btn btn-primary" (click)="cadastrarAtividade()">Cadastrar atividade +</button>
  </div>
  <div class="kanban-board">
    <div class="kanban-column" *ngFor="let status of statuses">
        <h3>{{ statusLabels[status] }}</h3>

      <div
        cdkDropList
        #dropList
        [id]="status"
        [cdkDropListData]="atividades[status]"
        [cdkDropListConnectedTo]="statuses"
        class="task-list"
        (cdkDropListDropped)="drop($event)"
        (cdkDragMoved)="onDragMoved($event, dropList)"
      >
      <app-card-atv
        *ngFor="let atividade of atividades[status]"
        [title]="atividade.nome"
        [description]="atividade.empresa?.razaoSocial || ''"
        [date]="atividade.dateDaEntrega"
        [priority]="atividade.prioridade"
        [sector]="atividade.setor"
        [membros]="atividade.usuarios || []"
        (click)="abrirModalAtividade(atividade.id)"
        cdkDrag
      ></app-card-atv>
      </div>
    </div>
  </div>
</div>
