<!-- HEADER -->
<header class="header" id="header">
    <div class="header-container">
      <button class="header-toggle" id="header-toggle">
        <img src="assets/icones/menu-icon.svg" alt="image" />
      </button>

      <div class="header-user">
        <div class="usuario">
          <img src="assets/imagens/user-photo.png" alt="User Photo" class="user-photo" />
          <div class="user-info">
            <h3 class="user-name">Haroldo Andrade</h3>
            <span class="user-cargo">Administrador</span>
          </div>
        </div>
        <button class="dropdown-toggle" id="dropdown-toggle">
          <img src="assets/icones/seta-down-icon.svg" alt="Dropdown Icon" class="dropdown-icon" />
        </button>
        <div class="dropdown-menu" id="dropdown-menu">
          <a href="#" class="dropdown-item">Meu perfil</a>
          <a href="#" class="dropdown-item">Sair</a>
        </div>
      </div>
    </div>
  </header>

  <!-- SIDEBAR -->
  <nav class="sidebar" id="sidebar">
    <div class="sidebar-container">
      <div class="sidebar-logo">
        <div class="sidebar-img">
          <img src="assets/imagens/Logo-LM.svg" alt="image" />
        </div>

        <div class="sidebar-info">
            <img src="assets/imagens/name-logoLM.svg" alt="image" />
        </div>
      </div>

      <div class="sidebar-content">
        <div>
          <h3 class="sidebar-title">HOME</h3>

          <div class="sidebar-list">
            <a href="#" class="sidebar-link active-link">
              <img src="assets/icones/home-icon.svg" alt="home icon" />
              <span>Inicio</span>
            </a>
          </div>
        </div>

        <div>
          <h3 class="sidebar-title">ADMINISTRATIVO</h3>

          <div class="sidebar-list">
            <a href="#" class="sidebar-link">
                <img src="assets/icones/People-icon.svg" alt="image" />
              <span>Colaboradores</span>
            </a>

            <a href="#" class="sidebar-link">
              <img src="assets/icones/empresas-icon.svg" alt="home icon" />
              <span>Empresas</span>
            </a>
          </div>
        </div>

        <div>
            <h3 class="sidebar-title">GERENCIAMENTO</h3>
  
            <div class="sidebar-list">
              <a href="#" class="sidebar-link">
                <img src="assets/icones/processo-icon.svg" alt="home icon" />
                <span>Processos</span>
              </a>
  
              <a href="#" class="sidebar-link">
                <img src="assets/icones/kanban-icon.svg" alt="home icon" />
                <span>Atividades</span>
              </a>

              <a href="#" class="sidebar-link">
                <img src="assets/icones/relatorio-icon.svg" alt="home icon" />
                <span>Relatórios</span>
              </a>
            </div>
          </div>
      </div>
    </div>
  </nav>